[2013-08-16 20:16] pushandplay opened #1 "Add localisations"

[2013-08-17 09:25] #1 closed, assigned to pushandplay

[2013-08-18 10:04] pushandplay opened #2 "Rename "Preferences.coffee" to lowercase"

[2013-08-18 11:59] pushandplay opened #3 "Add setting param "rateOnStartUp""

[2013-08-18 11:59] pushandplay opened #4 "Add custom call method"

[2013-08-18 19:29] #2 closed, assigned to pushandplay

[2013-08-18 19:29] #3 closed, assigned to pushandplay

[2013-08-18 19:29] #4 closed, assigned to pushandplay

[2014-02-02 13:41] pushandplay opened #5 "Language auto-detect support"

[2014-02-02 13:43] pushandplay opened #6 "Multi locales support"

[2014-02-04 21:07] pushandplay opened #7 "Move plugin settings to config.xml"

[2014-02-04 22:11] #5 closed, assigned to nobody

[2014-02-04 22:11] #6 closed, assigned to nobody

[2014-02-05 10:24] pushandplay opened #8 "Create translation project"
https://crowdin.net/project/apprate-cordovaphonegap-plugin

[2014-02-05 20:10] #8 closed, assigned to nobody

[2014-02-06 09:14] pushandplay opened #9 "Check app version and show dialog again"

[2014-05-02 07:09] pushandplay opened #15 "Annotate source"

[2014-05-06 10:20] bau720123 opened #16 "some suggestion feedback to you"
in this
https://camo.githubusercontent.com/0d0b29b0b5d7cfabbe4a85219631ef92c8adc1e5/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f752f32363233382f436f72646f76612f506c7567696e732f417070526174652f707265766965775f695061642e706e67

suggestion 1
if these words can definition by javascript，I think it is more Elasticity，just like that...

[code]

if could like above，You will never h

[2014-06-22 21:53] pushandplay opened #17 "Add custom view for rate dialog"
![photo 23-06-14 01 51 33](https://cloud.githubusercontent.com/assets/35453/3352727/c4d1952e-fa57-11e3-89fc-d0e0d6e479a6.png)

[2014-06-22 21:59] pushandplay opened #18 "Add support for Windows Phone 8"
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2772885-add-support-for-windows-phone-8?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github).

[2014-07-05 11:20] mahnuh opened #19 "PhoneGap Build: explain in readme"
Hi,
how do I change preferences and locales when using your plugin via phonegap build?
Additional explanation in your readme would be nice.
Tried adding preferences.js and locales.js by myself, didn't work...
regards
Manuel

[2014-07-31 06:07] pushandplay opened #20 "Refactor code"

[2014-07-31 06:08] pushandplay opened #21 "Update docs, read me and add releasenote file"

[2014-07-31 06:11] pushandplay opened #22 "Update licence to Apache 2.0"

[2014-07-31 07:42] #22 closed, assigned to nobody

[2014-09-22 00:13] #7 closed, assigned to nobody

[2014-09-22 00:13] #16 closed, assigned to pushandplay

[2014-09-22 00:13] #19 closed, assigned to nobody

[2014-09-22 00:13] #20 closed, assigned to nobody

[2014-09-22 00:13] #21 closed, assigned to nobody

[2014-09-23 16:30] pushandplay opened #23 "Get application title from native app"

[2014-09-23 17:20] bau720123 opened #24 "Proposal for detect if rating before"
if somebody already rating，for example "Google Play"
that the "Rating Menu" should not pop up
https://camo.githubusercontent.com/0d0b29b0b5d7cfabbe4a85219631ef92c8adc1e5/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f752f32363233382f436f72646f76612f506c7567696e732f417070526174652f707265766965775f695061642e706e67
if could...

[2014-09-23 21:24] #9 closed, assigned to pushandplay

[2014-09-23 21:24] #23 closed, assigned to nobody

[2014-09-23 21:40] pushandplay opened #25 "Code refactoring"

[2014-09-26 07:13] vespino opened #26 "How to implement"
I'm using the following code:

[code]

I have places this in the deviceready function (and also tested it in the "$(document).ready(function()" part) but the popup does not appear.

Where do I have to implement it to work?
What is the Android url? Same as iOS, what I mean is with "itms-apps://"

I can provide you with Dutch translations if you want.

[2014-09-26 18:57] bau720123 opened #27 "some issue feedback to you"
I am using PGB 3.5 and your latest plugin 1.0.1
according to this
https://github.com/pushandplay/cordova-plugin-apprate
no mater Android or iOS

issue 1
no mater example 1 or 2，the result are sill this (fully same)
https://camo.githubusercontent.com/0d0b29b0b5d7cfabbe4a85219631ef92c8adc1e5/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f752f32363233382f436f72646f76612f506c75676

[2014-09-27 08:23] #15 closed, assigned to nobody

[2014-09-28 11:29] #25 closed, assigned to pushandplay

[2014-09-28 11:29] #26 closed, assigned to nobody

[2014-09-28 11:29] #27 closed, assigned to pushandplay

[2014-09-28 11:30] #24 closed, assigned to nobody

[2014-09-30 10:54] safadig opened #28 "Apprate causing Crash in iOS only"
Plugin runs fine in Android but causing crash on start after Apple Store Release..Not sure if anyone else experiencing this especially after iOS 8 updates?

[2014-09-30 12:51] walaa12 opened #29 "is it support BB10"
how can i use your plugin for bb10?

[2014-09-30 20:20] #28 closed, assigned to nobody

[2014-09-30 21:09] pushandplay opened #30 "Update file structure for git glow"

[2014-09-30 21:25] #30 closed, assigned to pushandplay

[2014-10-05 08:00] #29 closed, assigned to nobody

[2014-10-10 17:58] pushandplay opened #31 "Add callbacks for buttons and events"

[2014-10-21 08:51] pushandplay opened #32 "Rewrite iOS version on Swift"
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5421155-rewrite-ios-version-on-swift?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github).
</

[2014-10-21 09:23] pushandplay opened #33 "Code refactoring (JS)"

[2014-10-25 21:19] pushandplay opened #34 "Annotate sources"

[2014-10-25 21:20] pushandplay opened #35 "Add docs"

[2014-10-25 21:21] pushandplay opened #36 "Add unit tests"
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5523251-add-unit-tests?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github).
</bountysource-

[2014-10-26 08:11] #31 closed, assigned to pushandplay

[2014-10-26 08:11] #33 closed, assigned to pushandplay

[2014-10-26 08:11] #34 closed, assigned to pushandplay

[2014-10-26 08:11] #35 closed, assigned to pushandplay

[2014-10-26 08:24] pushandplay opened #37 "Improve Android rate-dialog layout"
#61
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5528388-improve-android-rate-dialog-layout?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=g

[2014-10-31 08:52] pushandplay opened #38 "Add immediately call popup"

[2014-10-31 08:58] pushandplay opened #39 "Improve locales support"
Add improvements for mixed locales support (ala zh-TW)

[2014-10-31 13:47] jiggsfoo opened #40 "How do you simulate "uses"?"
I can't seem to get the rating prompt to show up again after the initial one.

I tried swiping the app from the task switcher to "force quit" them but it doesn't seem to have any effect.

This happens on both IOS and Android.

[2014-10-31 14:15] #40 closed, assigned to pushandplay

[2014-11-09 22:22] scyclops opened #41 "Export navigateToAppStore"
I'd love to see navigateToAppStore exported as a way to immediately send a user to the app store rating page (this way I could design my own app store dialog that better fits in with the design of my app).

[2014-11-13 13:50] pushandplay opened #42 "Add pref flag for opening app rate page on reviews tab"
open link: itms-apps://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?type=Purple+Software&id=<AppID>

[2014-11-16 08:00] pushandplay opened #43 "Improve callbacks support"

[2014-11-16 08:04] #38 closed, assigned to pushandplay

[2014-11-16 08:04] #39 closed, assigned to pushandplay

[2014-11-16 08:04] #42 closed, assigned to pushandplay

[2014-11-18 06:58] #17 closed, assigned to pushandplay

[2014-11-18 06:58] #41 closed, assigned to pushandplay

[2014-11-18 06:58] #43 closed, assigned to pushandplay

[2014-11-19 13:39] pushandplay opened #44 "Switch build system from Makefile to Grunt"

[2014-11-22 17:32] bau720123 opened #45 "what is the "the Package Family Name of the application" ?"
hi @pushandplay
great plugin ~
but I met some trouble in WP8，Android and iOS are all work

according to this
https://github.com/pushandplay/cordova-plugin-apprate/blob/a126c2a/README.md

[code]

when I execute，it will show the dialog just like the ios
https://camo.githubusercontent.com/0d0b29b0b5d7cfabbe4a85219631ef92c8adc1e5/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f752f

[2014-11-22 17:46] bau720123 opened #46 ""onButtonClicked" never trigger"
no mater in Android, iOS, WP8
the "onButtonClicked" never trigger "alert" method
for example Android code

[code]

[2014-11-22 18:08] pushandplay opened #47 "Actualize documentation"

[2014-11-22 18:18] #46 closed, assigned to pushandplay

[2014-11-22 18:37] bau720123 opened #48 "after use "Set custom Locale object"，the "Set custom language" will Invalidation anymore"
this is my all code

[code]

when I click botton1，it will show "zh-TW" dialog，good work
when I click botton2，it will show "zh-Hans" dialog，good work
when I click botton3，it will show the dialog according my define keywords，good work too
but...
when I change back to click no mater "botton1" or "botton2"，it will still show "botton3" behavior

[2014-11-22 19:02] pushandplay opened #49 "Improve Windows Phone support"
- Add "Wndows Phone" pattern to detecting navigator.userAgent. See conversation in issue #45

[2014-11-23 01:58] bau720123 opened #50 ""AppRate.preferences.openStoreInApp" have some issue in iOS"
ipad mini iOS 8.1

when I set "AppRate.preferences.openStoreInApp" to false，it will open the "outside" app store page and automatically locate to the "Discuss" label
http://www.littlebau.com/20141123/01.PNG

but...

when I set "AppRate.preferences.openStoreInApp" to true，it will open the "inside" app store page but can't automatically locate to the "Discuss" label
http://www.littlebau.com/20141123

[2014-11-23 02:46] bau720123 opened #51 "every "custom language" seem use "displayAppName" that only can set by once time"
these are all my code

[code]

ween I use botton1，it will show the 'zh-TW' dialog and the dialog's displayAppName become 'soft1'，good~
ween I use botton2，it will show the 'zh-Hans' dialog and the dialog's displayAppName become 'soft2'，good~

but...
ween I use botton3，it will show the 'zh-TW' dialog and the dialog's displayAppName still  'soft1'

so I just want to ask..
if every "custom language" s

[2014-11-23 03:57] bau720123 opened #52 "what is the "usesUntilPrompt" true usage meaning ?"
hi @pushandplay
according to this
https://github.com/pushandplay/cordova-plugin-apprate/blob/a126c2a/README.md
it said "usesUntilPrompt" is count of runs of application before dialog will be displayed

but I try，it seem have no any affect
for example for Android with my code

[code]

when I execute it，it will show the dialog almost immediately，not must be wait for "10" seconds
is there anything th

[2014-11-23 04:03] bau720123 opened #53 "what is the "promptAgainForEachNewVersion" true usage meaning ?"
hi @pushandplay
according to this
https://github.com/pushandplay/cordova-plugin-apprate/blob/a126c2a/README.md
it said "promptAgainForEachNewVersion" is show dialog again when application version will be updated

for example for Android with my code

[code]

so...if my app is version 1.0 for now，but there is a new version maybe 1.1 in the Google Play or itunes store...whatever
after I update the n

[2014-11-23 07:13] #50 closed, assigned to pushandplay

[2014-11-23 20:38] #52 closed, assigned to nobody

[2014-11-23 20:44] #53 closed, assigned to nobody

[2014-11-23 21:56] #51 closed, assigned to nobody

[2014-11-23 21:59] #48 closed, assigned to pushandplay

[2014-11-23 22:02] #45 closed, assigned to pushandplay

[2014-11-23 22:02] #47 closed, assigned to pushandplay

[2014-11-23 22:02] #49 closed, assigned to pushandplay

[2014-11-23 22:10] pushandplay opened #54 "Fix misprint in docs"

[2014-11-23 22:12] #54 closed, assigned to pushandplay

[2014-12-12 01:57] bau720123 opened #55 "a "Dependencies" problem wuth your plugin"
all detail content right here
http://community.phonegap.com/nitobi/topics/-plugins-cordova-io-seem-not-really-work

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/6960098-a-dependencies-problem-wuth-your-plugin?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysourc

[2014-12-16 20:07] mcvanhassel opened #56 "Possibility to add multiple AppRate instances"
Great plugin. It would be even greater to be able to add more than one AppRate instance to your app. For example, having an instance to actually rate the app and another instance to ask the user to buy the "Pro" version of the app or download a similar app.

[2014-12-22 12:56] domiSchenk opened #57 "Change <run target="AppRateLocales"/> to <clobbers target="AppRateLocales"/>"
Im using a custom dialog (design purposes) and want to use the default translation.
but with `<run target="AppRateLocales"/>` its not global access able.

would be nice if you can change it to `<clobbers target="AppRateLocales"/>`

[2014-12-22 14:55] adriano-di-giovanni opened #58 "AppRate.java package mismatch"
Plugin gets intalled under `org.apache.cordova.apprate` but AppRate is declared as a class of `org.pushandplay.cordova.apprate`

[2014-12-26 06:01] borhademohini opened #59 "How to implement this plugin?"
Can anyone help me with the implementation of this plugin with phonegap build ?

[2014-12-27 13:06] #59 closed, assigned to nobody

[2014-12-29 14:38] biapar opened #60 "How work promptForRating?"
Hi,
Do the window open random or not? How mean "true" parameter into promptForRating function?

[2014-12-30 06:39] borhademohini opened #61 "Font of the text"
Hello,

Can we change the font size of the text in APP Rate.

Because in  'Rate' word is cut off. It's from Nexus 6.

[2014-12-30 10:08] #61 closed, assigned to nobody

[2014-12-31 01:46] #58 closed, assigned to pushandplay

[2014-12-31 14:35] #44 closed, assigned to pushandplay

[2014-12-31 14:35] #57 closed, assigned to pushandplay

[2015-01-02 09:11] thandaanda commented on #37
Hi @pushandplay , is there any update on improving android rate-dialog layout.

[2015-01-02 13:33] pushandplay commented on #37
@thandaanda in the next release

[2015-01-04 13:17] bau720123 commented on #55
I seem found a way to solve it
http://community.phonegap.com/nitobi/topics/-plugins-cordova-io-seem-not-really-work
is my way right ?

[2015-01-04 15:46] mjtaljaard opened #62 "App Title"
I am probably doing something wrong, but how to I get the App Title to show instead off 'AppRate Plugin' ?
Building through build.phonegap.com
Help would be much appreciated.

[2015-01-11 20:49] marekkalnik opened #63 "Button text (in French) too long on Android Lollipop"
Hi,

The button text is too log, so on my Nexus 4 I can not even see the button to vote :

![screenshot_2015-01-11-21-27-29](https://cloud.githubusercontent.com/assets/548629/5696727/4b2a4a68-99da-11e4-93fc-227e25520083.png)

I see that you're working on layout changes for Android in next version, but this seems to be rather urgent. Maybe a quick and dirty solution would be to replace text in Fren

[2015-01-11 21:22] pushandplay commented on #63
@marekkalnik Hi, I know, this bug and it will be fixed in next release. see #37

[2015-01-11 21:28] #60 closed

[2015-01-11 21:28] #56 closed

[2015-01-11 21:35] pushandplay commented on #63
@marekkalnik you can use custom custom Locale object for overwrite text strings

[2015-01-15 10:30] rodneyjoyce opened #64 "Confusion with ng-Cordova"
Hi,

Thanks for this plugin. I am trying to use it with Ionic and ng-Cordova. I have added the plug-in and downloaded the latest ng-Cordova.

As per http://ngcordova.com/docs/plugins/appRate/ - I can get the Popup to display with
              $cordovaAppRate.promptForRating(true).then(function (result) {                    });

However, it does not seem to expose the Preferences method.

For exam

[2015-01-15 11:18] pushandplay commented on #64
@rodneyjoyce Hi, implementation of AppRate plugin for ng-Cordova is not official and I not support this. You can ask about your problem ng-Cordova developers

[2015-01-15 11:47] rodneyjoyce commented on #64
Ok, thanks for the quick response. I will do that

[2015-01-15 12:29] pushandplay commented on #64
@rodneyjoyce Try use AppRate plugin without ng-Cordova wrapper

[2015-01-15 21:22] rodneyjoyce commented on #64
Thanks - that has been more successul. I just don't understand what the point of the ng-Cordova library is then - it is as easy just to use the plugins directly?

[2015-01-15 22:06] pushandplay commented on #64
For my opinion this only for pushing new Ionic technology, and noise around AngularJS. But looks like as wrapper for wrapper.

[2015-01-16 18:05] #64 closed

[2015-01-16 18:06] #62 closed

[2015-01-29 03:57] rajatrocks opened #65 "In order to compile on Android with Eclipse/ADT, needed to change package name"
in AppRate.java from **package org.apache.cordova.apprate;**

to

**package org.apache.cordova.apprate;**

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8117985-in-order-to-compile-on-android-with-eclipse-adt-needed-to-change-package-name?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We acc

[2015-01-29 09:20] pushandplay commented on #65
@rajatrocks What? see #58

[2015-01-29 17:15] rajatrocks commented on #65
Sorry, cut and pasted poorly. I had to change the code in platforms/android/src/org/apache/cordova/apprate/AppRate.java from **package org.pushandplay.cordova.apprate;** to **package org.apache.cordova.apprate;**

I didn't look through closed issues before, apologies. Seems like it's still a problem though?

[2015-01-29 19:29] jerfeson opened #66 "Not working"
Do not you think the package android platform

[2015-01-29 20:16] djett41 opened #67 "Bypass dialog and go straight to market?"
Is there a way to bypass the dialog popup and go straight to market?  Say I have a setting list item that says "Rate this app".  If a user clicks it I want to go straight to the app store rather than prompt them with a dialog box.  Is this available in this plugin?

Thanks!

[2015-01-29 20:20] pushandplay commented on #66
@jerfeson Not working? Really? Maybe do you can give me more details?

[2015-01-29 20:30] pushandplay commented on #67
@djett41 Hi. Yes, it's possible. Fill links to your app in preferences object and call <code>AppRate.navigateToAppStore()</code> method. See source code for more details.

[2015-01-29 20:30] djett41 commented on #67
After digging through the code, looks like this is just a window.open from the javascript with the ios/android URLs.  Might be a nice little enhancement though to add functionality to do this from the plugin :)

[2015-01-29 20:31] djett41 commented on #67
nice!! Thanks @pushandplay disregard my last statement, didnt know this was publicly available in the plugins API .  Thanks again!

[2015-01-29 20:33] pushandplay commented on #67
@djett41 You can install <code>org.apache.cordova.inappbrowser</code> plugin and call <code>window.open</code> without AppRate plugin.

[2015-01-29 20:35] pushandplay commented on #67
@djett41 Where are you from? Which country?

[2015-01-29 20:44] pushandplay commented on #67
@djett41 And one more: play on iOS with <code>openStoreInApp</code> in preferences object

[2015-01-29 21:33] djett41 commented on #67
USA @pushandplay .  I actually wanted to link out to ios app store/google play rather than opening from within the app.  calling AppRate.navigateToAppStore() from within my app is exactly what im looking for thanks!

[2015-01-30 11:54] #67 closed

[2015-01-31 10:29] #66 closed

[2015-01-31 13:11] Purus opened #68 "Custom Locale Not Working"
I am not able to create a custom locale for the AppRate plugin. Even after changing the locale, it's still showing in English.

I did as per the instructions in https://github.com/pushandplay/cordova-plugin-apprate

[code]

[2015-01-31 13:32] pushandplay commented on #68
@Purus Hi, implementation of AppRate plugin for ng-Cordova is not official and I not support this. You can ask about your problem ng-Cordova developers. For solution use AppRate plugin without ngCordova wrapper. see similar issue #64

[2015-01-31 13:33] Purus commented on #68
Thanks @pushandplay for this good plugin. I will contact ngCordova team.

[2015-01-31 13:33] #68 closed

[2015-02-04 10:18] wap4444 opened #69 "Plugin aren't work"
Hi! I tryed to install this plugin via instructions...But after it i see this
http://prntscr.com/60wcda

http://prntscr.com/60wch1

What's wrong?

[2015-02-05 18:56] ohh2ahh opened #71 "'Write A Review' button not working"
Today I noticed that the 'Write A Review' button in the opened in-app store is not working on iOS. The rest of plugin works like a charm. Does anyone other have this issue?
- Tested on a real devices with iOS 8.1.2 and 8.1.3
- Cordova 4.2.0
- Cordova iOS 3.7.0
- `StoreKit.framework` is linked in Xcode
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bount

[2015-02-05 19:14] pushandplay commented on #71
@ohh2ahh Hi, can you show me code of initialisation and invocation of plugin?

[2015-02-05 19:21] ohh2ahh commented on #71
Thank you @pushandplay for your ultra fast response.

Here's my code (running in `app.receivedEvent('deviceready');`):

[code]

[2015-02-05 20:24] pushandplay commented on #71
@ohh2ahh
1.<code>AppRate.preferences.useLanguage</code> - require string type
2. Check if installed org.apache.cordova.inappbrowser
3. Fill <code>AppRate.preferences.storeAppURL.ios</code> field with correct URL if you want testing on iOS
4.<code>if(typeof AppRate !== 'undefined')...</code> wtf? read about events - http://cordova.apache.org/docs/en/4.0.0/cordova_events_events.md.html#deviceready

[2015-02-05 20:46] ohh2ahh commented on #71
1. Sorry, I made that mistake while pasting the code here.
2. Already installed and working.
3. I anonymized the identities before posting my code.

It's weird that everything else is working. For now, I'm using `AppRate.preferences.openStoreInApp = false;` as a workaround.

[2015-02-05 20:59] pushandplay commented on #71
@ohh2ahh <code>AppRate.preferences.openStoreInApp</code> with true value available only on iOS and require valid app url

[2015-02-05 21:21] ohh2ahh commented on #71
@pushandplay That was clear for me. With `AppRate.preferences.openStoreInApp = true;` the **in-app store** shows correctly and displays my app on the description / screenshot page - so that works perfectly. But when I tap on 'Reviews' and then on 'Write a Review' the review modal never shows. Maybe it's a bug in the iOS SDK or StoreKit.framework.

![issue-71](https://cloud.githubusercontent.com/as

[2015-02-06 08:23] wap4444 commented on #69
Я не понял как можно установить для андроид?

[2015-02-06 08:35] pushandplay commented on #69
@wap4444 try make pull from branch [feature/ISSUE-69](https://github.com/pushandplay/cordova-plugin-apprate/tree/feature/ISSUE-69)

[2015-02-06 08:47] wap4444 commented on #69
I can't understand what I must do..
I enter in CMD "cordova plugins add https://github.com/pushandplay/cordova-plugin-apprate.git"
then enter my app url for GoogleStore....
What's wrong?

[2015-02-06 09:02] pushandplay commented on #69
@wap4444 clon repo from branch and install from local folder <code>$ cordova plugin add ../my_plugin_dir</code>. http://cordova.apache.org/docs/en/4.0.0/guide_cli_index.md.html

[2015-02-06 09:07] wap4444 commented on #69
Ok! I install it....but I do not see any apprate window..
here's  my code:
    storeAppURL: {
      ios: null,
      android: 'market://details?id=com.restaurant.start',
      blackberry: null,
      windows8: null
    },
....
  AppRate.promptForRating = function(immediately) {
    if (immediately == null) {
      immediately = true;
    }

[2015-02-06 09:34] pushandplay commented on #69
@wap4444 read docs

AppRate.preferences.storeAppURL.android = 'market://details?id=com.restaurant.start';
AppRate.promptForRating(true);

[2015-02-06 09:38] wap4444 commented on #69
mmmm....((( can't understand

Where should I insert?
AppRate.preferences.storeAppURL.android = 'market://details?id=com.restaurant.start';
AppRate.promptForRating(true);

in \www\plugins\org.pushandplay.cordova.apprate\AppRate.js   ???

[2015-02-07 00:59] #69 closed

[2015-02-07 11:48] pushandplay commented on #71
@ohh2ahh I think this is bug of StoreKit.framework

[2015-02-24 07:55] alxpereira opened #74 "Cordova plugin add conflicts"
Hi,
I've just experienced an issue adding your plugin to my iOS project.
It looks like the configuration xml isn't doing his job properly has it was missing some dependencies to make this plugin work.

Plugins installed :
notifications
globalization
apprate

Missing Build Phases Compiled Sources :
CDVNotification.m
CDVGlobalization.m

Missing Binary :
AudioToolbox.framework

It might be a conflict

[2015-02-24 08:06] pushandplay commented on #74
@alxpereira Hi, ok I will check it, tnx

[2015-03-13 01:32] tryagains commented on #63
I have issue with cancelButtonLabel and laterButtonLabel having a large space between each other. Is that related to this issue?

[2015-03-13 09:56] pushandplay commented on #63
@tryagains Hi, yes, it is related

[2015-03-14 20:04] novakben commented on #71
Same issue here. Anyone resolved this?

[2015-03-17 18:26] rajatrocks commented on #65
Actually, this fix didn't work. What did work was to move AppRate.java to org/pushandplay/cordova/apprate

[2015-04-03 02:06] Alexandr951 opened #75 "How to setup the plugin in intel XDK"
Where should I put the code:
AppRate.preferences.storeAppURL.ios = '<my_app_id>';
AppRate.promptForRating(true);

to intelxdk.config.additions.xml ? or create script on page ?

[2015-04-03 06:26] #75 closed

[2015-04-03 06:28] pushandplay commented on #71
This is iOS issue and this is a bug of StoreKit.framework. It is not have a solution now

[2015-04-07 22:29] revie opened #76 "Add Amazon-FireOS support"
Would love to see Amazon FireOS support added, and seems like adding support would be fairly simple.  Amazon uses the following URL format for accessing the details from within the Amazon App Store app:

   amzn://apps/android?asin=<Amazon ASIN App ID>

For me, all it took was duplicating the "android" platform in "plugin.xml" for the "amazon-fireos" platform, then adding the following just before

[2015-04-09 15:48] revie opened #77 "Bug: Illegal Access on Android 2.3"
Received the following exception when running on Android 2.3:

   file:///android_asset/www/plugins/org.pushandplay.cordova.apprate/www/AppRate.js: Line 136 : Uncaught illegal access

Apparently, JSON.parse() on Android 2.3 throws that error when the value to be parsed is NULL:

   http://zsitro.com/html5-localstorage-illegal-access-bugfix/

Fixed the issue with the following code:

  AppRate.init

[2015-04-13 17:52] mr5080 opened #79 "Popup on iOS issue"
When the popup happens, The next to last sentance, It won't take more than a minute, the won't is not showing correctly the ' shows up as weird chars.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11061274-popup-on-ios-issue?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We accept bounties

[2015-04-15 13:17] ashishsajwan opened #80 "how does it takes care of cases when user has already rated the app ..?"

[2015-04-20 09:15] piernik opened #81 "Conflict with org.apache.cordova.network-information on android 4.1"
I've tested Your plugin.
It works great except with "org.apache.cordova.network-information" on android 4.1 (tested on genymotion and real device).
When both plugins are in project app imidially closes after start.

When I remove Your plugin all is ok. When I add You plugin and remove network all is ok but both of them - crash :/

[2015-04-20 11:31] piernik commented on #81
It's not that - sorry.

[2015-04-20 11:31] #81 closed

[2015-04-25 22:37] mifkys opened #82 "AppRate popup show two times on iOS"
Hello. AppRate shows two times when i clicked on the button. Code:

$scope.rateApp = function () {
        $ionicPlatform.ready(function () {
            var customLocale = {};
            customLocale.title = $translate.instant('rate_title');
            customLocale.message = $translate.instant('rate_text');
            customLocale.cancelButtonLabel = $translate.instant('rate_button_cancel');

[2015-04-28 12:18] bau720123 opened #83 "cordova 5.0 cli "rename" problem"
hi @pushandplay
I am using cordova 5.0 cli
there is a new "rename" problem
all detail at here
http://www.littlebau.com/cli/apprate_cli.gif
http://cordova.apache.org/

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/12374122-cordova-5-0-cli-rename-problem?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=gi

[2015-05-06 17:17] bloodguard commented on #75
In the project tab in the Plugins/Third party plugin you click on Get Plugin from web.
Then, you put AppRate for name  and for the plugin ID you add org.pushandplay.cordova.apprate and check the check box.
The plugin is now added but BE WARNED, the plugin can only be tested trough the build tab.
Also for your code, you should read those article so you can now where and when to prompt the rate dial

[2015-05-27 06:52] kaiserlos opened #84 "Crash on first time app launch"
Hi,

I am trying to use this plugin with appgyver steroids which is using cordova 3.8 for ios. Basically the plugin works but it crash if I newly installed my app and launch it the very first time. After that everything works fine.

The big problem is: Apple is rejecting the app because of this.

Any ideas?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bo

[2015-06-11 16:59] calebeaires opened #85 "Portugutes suggestion"
Window is too small to show the buttons words. Here a some suggestion to pt-BR locale that fix better on the screen.

[code]
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/21541667-portugutes-suggestion?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](h

[2015-07-01 06:01] ersingencturk commented on #63
same happening for turkish local too.
could be better if the order of the buttons can be replaced by moving yes rate to the beginning.

As you can see from the screenshot I see two NO buttons and no option to go actually to rate the app

![screen shot 2015-07-01 at 09 00 51](https://cloud.githubusercontent.com/assets/280623/8448393/8b494e8e-1fcf-11e5-8710-27b373b18b02.png)

[2015-07-01 06:02] ersingencturk commented on #85
see this: https://github.com/pushandplay/cordova-plugin-apprate/issues/63
looks like many locales effected from the same problem on android

[2015-07-13 04:15] djett41 opened #86 "org.apache.cordova.dialogs dependency changed"
The org.apache.cordova.dialogs project has changed it's id to cordova-plugin-dialogs.  This can cause a conflict version if you already have the cordova-plugin-dialogs plugin in your project.  cordova will put both in fetch.json and load the first one, which can be problematic.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24234178

[2015-07-13 04:17] djett41 opened #87 "org.apache.cordova.inappbrowser has changed to cordova-plugin-inappbrowser"
Like the cordova dialogs plugin, the inappbroswer plugin has changed it's ID which can result in version conflicts when fetch.json includes both plugins.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24234253-org-apache-cordova-inappbrowser-has-changed-to-cordova-plugin-inappbrowser?utm_campaign=plugin&utm_content=tracker%2F1192251

[2015-07-13 04:20] djett41 opened #88 "org.apache.cordova.globalization has changed to cordova-plugin-globalization"
Another plugin dependency changed its id which can also lead to verison conflicts.

I added these as separate in case you wanted to work on them and test separate, but feel free to combine all in one issue.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24234362-org-apache-cordova-globalization-has-changed-to-cordova-plugin-globaliz

[2015-09-08 06:54] flyingsky opened #91 "Doesn't work on ios 8.4"
My app id is "id1000109649", when run below code, the itunes is opened but show cannot find my app. Actually I can open my app from this link "https://itunes.apple.com/us/app/blockad/id1000109649?ls=1&mt=8"

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26519908-doesn-t-work-on-ios-8-4?utm_campaign=plugin&utm_content=tracker

[2015-09-08 06:56] flyingsky commented on #91
the problem is my id is wrong, which should be "1000109649"

[2015-09-08 06:56] #91 closed

[2015-09-16 11:13] adantart opened #93 "%@ instead of name of the app"
I see "%@" instead of name of the app ... any clue ?

I'm using this code:

[code]

Other question, when I use the callback(3) to trigger the "rate now" with a custom button of "Rate this app" in my view, I can see the window popup and then goes to the market ... it's not nice to see a popup window for a second and then a jump to other page ... is there any chance to now show the popup window when

[2015-10-07 12:05] Mojo90 commented on #80
same question. could it be that user gets a further prompt? should not happen. In my opinion if user rates app via prompt the user should not get any other popup regarding rating (except promptAgainForEachNewVersion is set to true - but is not my case). But a user recently reported that he rated the app via prompt and got a further prompt

[2015-10-14 19:37] valnub opened #95 "Take the user directly to rating view on iOS App Store"
On iOS, if the user hits yes in the prompt he will get redirected to the details page of the app.
Imho, he should be directly sent to the rating view instead.
You can do that by using this url shema:

[http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?id=APP_ID_HERE&pageNumber=0&sortOrdering=1&type=Purple+Software&mt=8](http://itunes.apple.com/WebObjects/MZStore.woa/wa/view

[2015-10-26 14:53] Guih44 opened #97 "Init plugin ?"
Hi

i try this plugin but it doesn't work.

How do you bootstrap it ?

is there anything to declare before using it ?

I try this simple code :

	AppRate.preferences.storeAppURL.ios = '<my_app_id>';
	AppRate.preferences.storeAppURL.android = 'market://details?id=<package_name>';
	AppRate.preferences.storeAppURL.blackberry = 'appworld://content/[App Id]/';
	AppRate.preferences.storeAppURL.windows8

[2015-10-26 16:39] bmarci commented on #97
I have the same issue here. I think this being a cordova plugin we don't have to declare.

[2015-10-26 16:47] bmarci commented on #97
I fixed it calling it after device ready and instead of AppRate.promptForRating(); I do AppRate.promptForRating(true);

[2015-10-29 15:42] marcelfalliere opened #98 "feat: possibility to change button order"
As of today, the order of the 3 buttons is fixed. Would be nice to be able to change it.

[2015-11-09 09:50] SMJ93 opened #99 "Updating to the latest Cordova version (5.4.0) breaks the plugin."
It was working fine before this update.

The build is still successful, but once onDeviceReady triggers I get the error:

`Can't find variable AppRate`

This refers to:

        AppRate.preferences.openStoreInApp = true;
        AppRate.preferences.storeAppURL.ios = '########';
        AppRate.preferences.customLocale = customLocale;
        AppRate.preferences.displayAppName = '########';

[2015-11-19 21:48] niallel opened #100 "Won't build android on phonegap build service"
iOS and Windows build fine, but for Android I get the following error message

Error - Some official plugins have to be updated if using PhoneGap >= 4.0.0. Please upgrade the version of any plugins that may include the following file: InAppBrowser.java

Any ideas how to fix this?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/284194

[2015-12-10 00:01] sungwoncho opened #101 "Rename dependency"
`org.apache.cordova.globalization` has changed its name to `cordova-plugin-globalization`, and so has `org.apache.cordova.dialogs` to `cordova-plugin-dialogs`. It'd be good to change the dependency name. Any thoughts?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28998858-rename-dependency?utm_campaign=plugin&utm_content=tracker%2F

[2015-12-25 02:43] jason-engage commented on #98
+1

[2016-01-05 07:40] pablo-gonzalez commented on #63
Is this project still maintened? I have read several issues in the second part of 2015 and no anwers at all.
I facing the issue with Android when the rate button is not shown.

[2016-01-05 10:27] ihadeed opened #102 "doesn't build on latest ios"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29598774-doesn-t-build-on-latest-ios?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github).
</boun

[2016-01-14 00:48] Joncom commented on #102
@ihadeed, [this one](https://github.com/speige/cordova-plugin-apprate) builds for me, FYI.

[2016-01-14 22:46] degamer106 commented on #102
I literally just installed this plugin today into our Ionic Project and it works fine in iOS 9.2.

[2016-01-14 23:01] ihadeed commented on #102
That's strange.. must have been conflicting with another plugin or something.
I will test again soon.

[2016-01-14 23:05] Joncom commented on #102
Doesn't compile on iOS 9.2 for me.
Pull requests #90 and #92 apparently fix the problem.
The fork I linked to earlier includes these fixes.

[2016-01-18 15:51] filipefreitas82 commented on #95
+1

[2016-02-01 22:42] revie commented on #76
FireOS is now deprecated in Cordova 6.0.  No longer needed.

[2016-02-01 22:42] #76 closed

[2016-02-08 17:45] JulesLagadic commented on #98
+1

[2016-02-09 10:13] 2803media commented on #100
Is anybody find a solution for this problem? Google ask developer to update their app to phonegap 4.1.1...

[2016-02-13 21:28] danieltamiosso commented on #99
Hi @SMJ93, any news?

[2016-02-18 09:51] BojDom opened #104 "Personalize the layout"
Don't know if is it already possibile, will be good to personalize the dialog with some css, if is already possible let me know how, thanks

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30975155-personalize-the-layout?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We accept bounties via [Bo

[2016-02-20 05:28] DanDance commented on #101
i made a pull request for it, you may now install plugin with  `cordova plugin add https://github.com/DanDance/cordova-plugin-apprate/`

[2016-03-03 00:14] #55 closed

[2016-03-03 00:16] westonganger commented on #101
Fixed in #90

[2016-03-03 00:16] #101 closed

[2016-03-03 00:17] westonganger commented on #102
Fixed in #90

[2016-03-03 00:17] #102 closed

[2016-03-03 00:18] westonganger commented on #88
Fixed in #90

[2016-03-03 00:18] #88 closed

[2016-03-03 00:18] westonganger commented on #87
Fixed in #90

[2016-03-03 00:18] #87 closed

[2016-03-03 00:19] westonganger commented on #86
Fixed in #90

[2016-03-03 00:19] #86 closed

[2016-03-03 00:51] westonganger commented on #95
#96 merged

[2016-03-03 00:51] #95 closed

[2016-03-03 00:56] #97 closed

[2016-03-05 17:04] Dineshrajaa commented on #100
Using this
<plugin name="cordova-plugin-apprate" spec="https://github.com/pushandplay/cordova-plugin-apprate.git" />
in the config.xml helped me to build in build.phonegap.com service

[2016-03-07 16:37] westonganger commented on #100
This plugins `plugin.xml` was recently updated. Can you try updating to the latest version (1.1.9 currently) and let me know if this is still an issue.

[2016-03-07 16:38] westonganger commented on #99
This plugins `plugin.xml` was recently updated. Can you try updating to the latest version (1.1.9 currently) and let me know if this is still an issue.

[2016-03-07 16:39] westonganger commented on #83
This plugins `plugin.xml` was recently updated. Can you try updating to the latest version (1.1.9 currently) and let me know if this is still an issue.

[2016-03-07 16:41] westonganger commented on #84
This plugins `plugin.xml` was recently updated. Can you try updating to the latest version (1.1.9 currently) and let me know if this is still an issue.

[2016-03-07 16:46] westonganger commented on #98
Good feature I think we will try to get this going for the next release. If anyone wants to make a pull request thats great.

[2016-03-07 19:08] alij2016 opened #109 "Cannot build on Phonegap Build and How to make it work?"
Hi @westonganger,

I am using Phonegap Build and I added this plugin in my config.xml file like this:

` <gap:plugin name="cordova-plugin-apprate"/>`

However, I cannot get it to buld because I get this:

**_Error - Some official plugins have to be updated if using PhoneGap >= 4.0.0. Please upgrade the version of any plugins that may include the following file: InAppBrowser.java_**

Second questio

[2016-03-09 15:24] zwacky opened #110 "npm is still on version 1.1.11 instead 1.1.19"
just a heads up: can't get latest version through cordova/ionic via npm with `ionic plugin add cordova-plugin-apprate@1.1.19`. intentional?
cheers

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31714514-npm-is-still-on-version-1-1-11-instead-1-1-19?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github

[2016-03-09 15:26] westonganger commented on #110
the latest version is `cordova-plugin-apprate@1.1.9` notice the 9 not 19

[2016-03-09 15:30] zwacky commented on #110
shoot, you're right!

although the npm version does install a *1.1.11* version, which doesn't really add up... (https://www.npmjs.com/package/cordova-plugin-apprate)

also the `ionic plugin add cordova-plugin-apprate` resolves to the 1.1.11 version.

[2016-03-09 15:48] westonganger commented on #110
This is because a fork has been registered with this name on the NPM registry. I have sent the owner an email. Hopefully we can get this name pointed back to this repo quickly.

[2016-03-09 20:42] westonganger commented on #110
The NPM registry now correctly points to this repo (`pushandplay/cordova-plugin-apprate`) and has been bumped to version `1.1.12`

[2016-03-09 20:42] #110 closed

[2016-03-10 15:44] anonrig opened #111 "Having dialogs dependency"
Having dialogs dependency causes cordova to not install apprate properly. After removing it (because my project already has it) the problem is solved.

`<dependency id="cordova-plugin-dialogs"/>` in `config.xml`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31754250-having-dialogs-dependency?utm_campaign=plugin&utm_content=tracker%

[2016-03-15 14:53] zwacky commented on #110
**ionic plugin add cordova-plugin-apprate@1.1.12 --save**
[code]
also https://www.npmjs.com/package/cordova-plugin-apprate says it's on 0.1.9.

and installing without a `@version` it installs version 1.1.7 (although this could be my cache)

[2016-03-15 16:57] westonganger commented on #110
Sorry, I forgot to run `npm publish` it shows 1.1.12 on npm now.

[2016-03-18 14:27] karamveer-cipl opened #112 "Andriod-PhoneGap : Issue Rate button text truncate"
Hello Support Team,

I am working on Andriod-Phonegap application and facing some challenges over there,

Issue: Rate-It now button truncated on some Android versions, Button not working fine with all Android versions and also not working responsively.

Please let me know if anyone faced same challenges, looking forward for response/fixes asap.

Regards,
Karamveer Singh
##

<bountysource-plugin>
-

[2016-03-23 01:57] Wang0620 commented on #80
I have same problem.
I need to check if the user has already rated to the app. And if the user already did it, the app should not show rate dialog never.
Could you please give me answer ASAP?
Thanks.

[2016-03-23 12:03] hlehmann commented on #112
I have got the same, on android, buttons are placed in line instead of one per line.

[2016-03-24 16:36] elbidone commented on #109
I use cordova-plugin-apprate and phonegap build I've removed it on my new builds because phonegap build cannot retrieve latest version. It always install version 1.1.7 that crashes my App. I've created an [issue to phonegap community](http://community.phonegap.com/nitobi/topics/my-installed-plugin-version-it-different-of-version-setted-on-config-xml)

[2016-03-24 17:00] elbidone opened #114 "with Cordova iOS 4.0.1 plugin crashes the App"
See below which version I use with Cordova iOS 4.0.1
[code]

The App launch but splash screen doesn't disappear and after 60 sec. it crashes.

If I remove the plugin it works well

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32224235-with-cordova-ios-4-0-1-plugin-crashes-the-app?utm_campaign=plugin&utm_content=tracker%2F1192251&ut

[2016-03-31 17:08] cavalleydude commented on #71
I'm having the same issue, thanks @ohh2ahh for logging this. Everything else in the plugin appears to be working well except this issue on iOS. I'm using Cordova 3.8.0, iOS 9.3, on iPhone 6 Plus. I'm hoping there is a fix for this soon. In the meantime, I'm also using the workaround suggested above.

[2016-04-06 21:59] ivanov84 commented on #71
+1

[2016-04-07 17:47] filipe-nunes commented on #18
Crashes on the following line:

Windows Phone 8.1 native dialog only allows two button.

[2016-04-11 13:36] tripti-cipl opened #116 "Random app crashes after installing apprate plugin [$100]"
Hi Support Team,

We are developing app using phonegap cordova.We are getting random crashes on app startup due to apprate plugin.The crash error log is pointing to line "[self.commandDelegate sendPluginResult:pluginResult callbackId:command.callbackId];".

Kindly let us know how we can resolve this issue asap.

Thanks
Tripti Poddar
## <bountysource-plugin>

There is a **[$100 open bounty](https:/

[2016-04-12 18:15] cavalleydude commented on #98
+1

[2016-04-20 13:25] #99 closed

[2016-04-20 13:26] #84 closed

[2016-04-20 13:26] #83 closed

[2016-04-20 13:27] westonganger commented on #74
This should be fixed in latest version. the AudioToolbox is an error related to your app not this plugin. Closed.

[2016-04-20 13:27] #74 closed

[2016-04-20 13:30] westonganger commented on #65
This should be corrected in the latest version, please upgrade and let me know if this is still occuring.

[2016-04-20 13:35] westonganger commented on #111
This plugin uses the dependency tag correctly. Closed.

[2016-04-20 13:35] #111 closed

[2016-04-20 13:38] westonganger commented on #80
I would like this feature but I don't think it can be added. The major problem is that I don't think there is a way to determine if the user has actually rated the app or if they went into the store and never ended up rating it.

[2016-04-20 13:48] westonganger commented on #114
I was having troubles with IOS splash screen too. I think its a new feature in `cordova-ios`. Make sure you have these settings(the values can be changed) in your config.xml. I think the important one is AutoHideSplashScreen = true. I remember this not working with IOS before so was previously set to false. Also update your splashscreen plugin if you haven't yet.

[code]

[2016-04-20 13:52] westonganger commented on #109
I use cordova, not phonegap so I can't test this. Is this an issue with PhoneGap build? Is this issue still occuring?

[2016-04-20 14:01] westonganger commented on #104
This uses [cordova-plugin-dialogs](https://github.com/apache/cordova-plugin-dialogs) for the dialog. Im pretty sure there are no css features in that project.

[2016-04-20 14:01] #104 closed

[2016-04-20 14:03] westonganger commented on #93
Is this issue still occuring in the latest version?

[2016-04-20 14:04] westonganger commented on #79
Something is wrong with your app. Please update to latest version of plugin.

[2016-04-20 14:04] #79 closed

[2016-04-20 16:02] elbidone commented on #114
Hi @westonganger,

the issue remains. If I build my App with `cordova-plugin-apprate` it crashes on launch after 60 sec., if I remove the plugin the App launches normaly. I've tested with the latest version of the plugin and on iOS 9.3.1.

I've joined below the logs raised when I launch App with and without `cordova-plugin-apprate`, resp. launch-app-NOK-xcode and launch-app-OK-xcode

[launch-app-N

[2016-04-20 16:07] westonganger commented on #114
Can you upgrade to cordova-ios 4.1.1 or 4.1.0, Im pretty sure there were problems with cordova-ios 4.0 freezing on startup

[2016-04-20 16:07] elbidone commented on #109
`PhoneGap Build` builds the app with recent versions of plugin if you use cli-6.0.0 but continues using the work version if not use `plugin name="cordova-plugin-apprate" spec="https://github.com/pushandplay/cordova-plugin-apprate.git"`

So I don't think it's a `cordova-plugin-apprate` issue.

[2016-04-20 16:20] elbidone commented on #114
cordova-ios 4.1.x is not available yet on PhoneGap Build. I'll wait to test.

[2016-04-21 12:43] anonrig opened #117 "App Rate window is prompted everytime"
Hello,

This is my config:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/33191522-app-rate-window-is-prompted-everytime?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F119225

[2016-04-21 12:48] westonganger commented on #117
Because it's calling promptForRating each time this  code runs . If you want to only do the reminder the use promptForRating(false)

[2016-04-21 12:53] #117 closed

[2016-04-27 20:37] westonganger commented on #116
Can you post some relevant portions of your app and the errors for this. This issue is pretty vague without details.

[2016-04-28 12:41] tripti-cipl commented on #116
Hi Weston,

We are using cordova version 6.1.0 and xcode version 6.4

We are calling the code given below on body load.

var customLocale = {};
                customLocale.title = "Rate CDFF";
                customLocale.message = "If you enjoy using CDFF, would you mind taking a moment to rate it? It won’t take more than a minute. Thanks for your support!";
                customLocale.cancelBu

[2016-04-28 16:44] #100 closed

[2016-04-28 16:48] westonganger commented on #116
More importantly, if you could possibly post the contents of this file `/platforms/ios/YourProjectName/YourProjectName-Info.plist`

[2016-05-03 07:05] tripti-cipl commented on #116
Hi Weston,

We are not using cordova hooks in our app.Also I have sent you .plist file that we are using in our app on your email address "westonganger@gmail.com".Please check and let me know if anything else needed.

Thanks and Regards
Harshit Jalhotra

[2016-05-05 14:21] elbidone commented on #114
I confirm it works fine on cordova-ios 4.1.x.

Thanks!

[2016-05-05 14:21] #114 closed

[2016-05-09 05:44] Resham143 opened #118 "Your request produced an error '[newNullResponse]'"
This message appears when i click on rate now button
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34038760-your-request-produced-an-error-newnullresponse?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugi

[2016-05-16 05:19] tripti-cipl commented on #116
Hi Weston,

We are waiting for your response on this issue.Please let us know if you will fix this or not?

Thanks and Regards
Tripti Poddar

[2016-05-22 15:10] muhammedabuali opened #119 "Cannot open page on ios"
the plugin works fine on android but ios I get this error message in safari.

also in the xcode console I get the following error
`_BSMachError: (os/kern) invalid capability (20)`
`_BSMachError: (os/kern) invalid name (15)`

[2016-05-22 15:22] muhammedabuali commented on #119
I checked again and I found it that I need to enable in app purchase for the plugin to work. but why is that necessary?

[2016-05-24 23:19] lunchbag commented on #116
@tripti-cipl
I ran the snippet that you posted and everything works fine for me.
Your Xcode version is pretty old, though. I wonder if updating to the latest (7.3.1) would make a difference. I find that that's often the culprit when things are crashing.

[2016-05-31 10:29] elbidone opened #121 "wrong version on plugin.xml, sticked on 1.1.7"
Hi,

on plugin.xml the version remains 1.1.7 instead of 1.1.12

[code]

It's annoying because it appears on logs `Installing "cordova-plugin-apprate" at "1.1.7" for ios` and we could spend hours trying to find out why.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34726120-wrong-version-on-plugin-xml-sticked-on-1-1-7?utm_campaign=p

[2016-06-04 08:46] vespino opened #122 "Keeps asking for rating"
The current version of the plugin keeps asking to rate, even when the settings say ask after x times. These are my settings:

		var customLocale = {};
		customLocale.title = "Rate this app";
		customLocale.message = 'Happy with this app? Rate this with 5 stars in the '+(device.platform=='Android' ? 'Play Store' : 'App Store')+'. It only takes a minute. Thanks for your support!';
		customLocale.can

[2016-06-05 09:51] vespino commented on #122
v1.1.9 works without the issue, so I rolled back to that hoping for a quick fix.

[2016-06-06 23:59] StefanoGitHub commented on #121
+1 👍

[2016-06-07 04:33] snowbreeze commented on #118
Same here
[code]

Android works. iOS does not. I hope I gave the correct app id

[2016-06-07 04:37] snowbreeze commented on #118
Console catches
[code]

[2016-06-08 05:28] gaurav-chandra opened #123 "change ios app store url"
The current version has the following default ios url:
[code]
this gets prepended to the app id for iOS. This is not working on iOS 9.3+. This needs to be changed to:
[code]
for it to work. I had to manually change the js file for it.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34963263-change-ios-app-store-url?utm_campaign=plugi

[2016-06-15 13:18] kristfal commented on #123
I can confirm this issue. Alternative workaround is to initialize with preference:

`openStoreInApp: true`

which will circumvent the broken URL by opening the store in a native sub-view.

[2016-06-15 13:27] kristfal commented on #122
The API was changed in the latest version. Call AppRate.promptForRating(false) and it will respect the counter and user input.

[2016-06-15 13:29] vespino commented on #122
Ok, I will test it next time I have a project. Thank you.

[2016-06-15 13:29] #122 closed

[2016-06-17 13:01] fentas opened #124 "Wrong documentation [Don't Call rate dialog immediately]"
Heyho,
I have an ionic project. If I have `customLocale` within `AppRate.preferences = {...}` `usesUntilPrompt` seems to be ignored. Prompt shows up every time on startup.. Also if I press "No thanks".

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35254407-customlocale-in-perference-usesuntilprompt-ignored?utm_campaign=plugin&utm_c

[2016-06-18 18:28] fentas commented on #124
Wrong documentation...

Should be `If false is `**not**` present it will ignore [...] it will prompt every time`.

[2016-06-18 20:24] westonganger commented on #124
Fixed the documentation. Thanks for your improvement.

[2016-06-18 20:24] #124 closed

[2016-06-20 22:39] akofman commented on #123
This workaround is unfortunately not ideal because of this existing restriction : http://stackoverflow.com/questions/36544926/does-skstoreproductviewcontroller-allow-to-rate-an-app-write-a-review

I think it's better to fix this problem and then removing the `openStoreInApp` option actually.

[2016-06-20 22:42] akofman commented on #71
It looks like you won't have any fix and should keep the workaround http://stackoverflow.com/questions/36544926/does-skstoreproductviewcontroller-allow-to-rate-an-app-write-a-review

[2016-06-20 23:08] akofman commented on #123
I just tested it on iOS 9.3.2 and it works well with the `http://itunes.apple.com/` format.

[2016-06-28 11:13] grcasanova opened #128 "Error in documentation"
In documentation part "Full setup", in "customLocale" sub properties should end with a coma instead of a semicolon.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35558696-error-in-documentation?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.

[2016-07-01 17:00] westonganger commented on #128
Thanks. I just fixed the readme

[2016-07-01 17:00] #128 closed

[2016-07-01 17:02] #65 closed

[2016-07-01 17:04] #109 closed

[2016-07-01 17:05] westonganger commented on #77
Fixed in master. Will be released in v1.2.0

[2016-07-01 17:05] #77 closed

[2016-07-01 17:05] westonganger commented on #121
Fixed in master will be released in v1.2.0

[2016-07-01 17:05] #121 closed

[2016-07-01 17:06] #82 closed

[2016-07-08 19:30] hershko opened #130 "Plugin undefined"
I've installed the plugin (on a Cordova project) by doing "cordova plugins add cordova-plugin-apprate". If I run "cordova plugin list" I can indeed see it in the list (it's showing up as cordova-plugin-apprate 1.1.12 "AppRate").

However, I can't actually access the plugin in the project. It remains undefined (i.e. typeof AppRate === 'undefined'). Am I missing something?

I tried removing and addi

[2016-07-23 18:45] rodrigograca31 commented on #37
Hi!

I just noticed that this has not been fixed yet....
Moto G 2nd Generation (Android 5.1) has a small screen....
Can't you guys make it look like on iOS? (One Option per line)

![iOS](https://camo.githubusercontent.com/0d0b29b0b5d7cfabbe4a85219631ef92c8adc1e5/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f752f32363233382f436f72646f76612f506c7567696e732f417070526174652f70726

[2016-07-23 18:49] westonganger commented on #37
This is the native Android dialog, we cant change that. If you want to customize the look you should just probably use a modal and use generic links to open the app store.

[2016-07-23 19:45] rodrigograca31 commented on #37
Ok.... I've tracked down the problem a lit bit.
Looks like this is a problem in Android itself (5.1)

You guys use `cordova-plugin-dialogs` that has an issue talking about this: https://issues.apache.org/jira/browse/CB-10747

Android issue: https://code.google.com/p/android/issues/detail?id=182741

As said in the end of that issue and confirmed by me, it's fixed on Android 6....

This plugin could

[2016-07-26 14:56] skyprimer opened #132 "Loading animation needed"
I'm testing the plugin on various devices. I detected that on slow devices like iphone 4s sometimes it takes 4-5 seconds to load the app store page. The user does not understand if he/she clicked the button.

I'm using direct click with;

[code]

With click i am showing a loading animation but it is not certain how many seconds to show the animation. Sometimes  it takes 4 seconds sometimes 6 to lo

[2016-07-26 15:28] westonganger commented on #132
This would be a nice feature. Let me look into it and see what I can do.

[2016-08-02 15:25] ankushgoyal27 opened #133 "Dismiss the Apprate dialog in Android."
Issue: When Apprate dialog appears in Android, then user touches to any other place on the screen, it capture the event and show button index as "0" and the dialog box fade out. This happens only for Android.

In iOS, when user touch to any of the buttons then only it capture the event and dialog box dismiss,

Please suggest.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty

[2016-08-03 18:04] dferreira1 commented on #132
Following...

[2016-08-18 14:33] talbussel opened #134 "what happens when user clicks remind me later?"
Great Plugin! saved me a lot of problems trying to open Google Play URL from native app :-)

I guess from the checks i did that nothing happen  when user clicks remind me later, and each developer should decide what to do, am i wrong?

If i'm right - could be very cool to define a var like "usesUntilPromptAgain"

Cheers!
Tal

[2016-08-19 09:23] ColDrekken commented on #80
Yes, i agree too, this should be a essential thing. Otherwise you have to set the usesUntilPrompt much higher to not bother your users, but that should not be the goal.

[2016-08-19 09:31] ashishsajwan commented on #80
here is what i did.

the moment user click on yes rate it now button (at this point user is redirected to app store/ play store) , i store a value in localstorage.  `isRated : True`
& and before showing the rate popup i check for this value
`if(isRated not set)  {
   showPopup()
 } `

there is no certain way to check with play store if user has actually rated app or not. so we only rely on what op

[2016-08-19 09:36] senior-engineer commented on #80
If we follow your way, until the users uninstall and reinstall the app, the users can not rate to the new released available version that the user want to rate.

[2016-08-19 09:42] ashishsajwan commented on #80
@senior-engineer
it should be very straight forward to implement this as well.
in the first look i see the solution should be around saving the app version along with the isRated key. or even keeping the key dynamic. like `isRated-1.1 : true` then next version `isRated-1.2 : true`

now instead of looking for isRated Key we should look for `isRated-{currentVersion}`

[2016-08-19 09:47] senior-engineer commented on #80
@ashishsajwan
I agree your idea about it.

But the app can not know if the user has really rated to the app, although the user went to Apple Store and Google Play. Actually the user mightn't rate to the app on the App store screen.

I have researched to find the solution to check if the user has already rated to the app, and seems there is a third party SDK to get it.
But I did not use and impleme

[2016-08-23 21:45] Mahopacs opened #135 "How to test app rate for android if you need the app to already be in store for app rate to work?"
Does anyone have any experience with the app rate plugin (specifically for android)?  The confusion I have is it seems in order to use this code your app ALREADY has to be in the app store.

If that is in fact true, how can I initially release my app to the android store and be confident the rating functionality is working?

The code I am using is:

AppRate.preferences.storeAppURL = {
 ios: '<my_a

[2016-09-08 03:41] alejandrocao commented on #135
I think before uploading your app to Play Store you will know the package name (so you have to setup it right), but if you want to try if the plugin is working before publish the app, you could try using another app already available in the app store... That works for me!

[2016-09-08 22:27] amuramoto commented on #123
For deep linking to the reviews tab this pattern works: itms-apps://itunes.apple.com/app/viewContentsUserReviews/id<ITUNES_CONNECT_APP_ID>.

I've sent https://github.com/pushandplay/cordova-plugin-apprate/pull/137 to include this.

[2016-09-08 23:01] Mahopacs commented on #135
Thank you for the reply.
My package name is set to: com.tedjyoung.hereiam in my config/xml file.
My code is below, As you can see I am setting:
android: 'market://details?id=com.tedjyoung.hereiam',

Do you see anything I am doing wrong?
When I click my button that executes the  AppRate.promptForRating(false) line, all I get is a white blank screen.

I have already deployed my app so this is how it

[2016-09-09 01:02] alejandrocao commented on #135
If you want to get the app rate dialog immediately when you click the button, i think you should call AppRate.promptForRating(true);

You invoke the method with false, so it will use your usesUntilPrompt parameter, that is set to 5, so you it will show the dialog after 5 app runs.

I think you should could change the invocation to a device ready function or leave the invocation in the button click

[2016-09-09 14:34] skyprimer commented on #132
No progress?

[2016-09-12 13:53] #123 closed

[2016-09-19 22:29] smeeguel commented on #134
Agreed with Tal! My quick 'n' dirty solution is to clear the counter in local storage:

`      this.appRate.preferences.callbacks =
      {
        onRateDialogShow: () =>
        {
          console.log("rate dialog show");
        },
        onButtonClicked: (value) =>
        {
          console.log("clicked button " + value);
          switch (value) {
            // 1 = write review

[2016-09-20 21:14] jorge8989 commented on #130
Same here, let me know if you find a solution

[2016-09-30 09:16] mcoenca opened #139 "1.3.0 not published to NPM"
Hello ! Your latest version is not published to npm :)
see https://www.npmjs.com/package/cordova-plugin-apprate

![image](https://cloud.githubusercontent.com/assets/6507140/18986677/3a8203aa-86fe-11e6-9306-a9a94264683d.png)

Thanks, best.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38009684-1-3-0-not-published-to-npm?utm_campa

[2016-10-05 10:25] ranvirgorai opened #141 "Error while showing while popup window"
_onPopup:_ Uncaught TypeError: Cannot read property **'onRateDialogShow**' of undefined

**on click rate now:**cordova.js:314 Uncaught TypeError: Cannot read property **'onButtonClicked'** of undefined
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38147339-error-while-showing-while-popup-window?utm_campaign=plugin&utm_content=tr

[2016-10-11 08:15] betko commented on #139
Hello! 😺  I would like to use the latest version of the plugin also. When can I expect the publication to the npm registry?

[2016-10-11 09:13] barocsi commented on #141
+1

[2016-10-13 10:34] tomgallagher opened #142 "Adding apprate to npm @types"
Hi

Great plugin - saved me a lot of time.

Any chance you could add your typings to npm @types as other cordova plugins have done?

Would be helpful for those of us using typescript.

Thanks

Tom

[2016-10-13 15:04] westonganger commented on #142
Feel free to add them over there I don't use typescript yet

[2016-10-13 23:48] SharkChips commented on #93
Yes, I can confirm this issue is still present.

[2016-10-20 10:29] vespino opened #143 "Couple of issues"
The issues I have using this plugin (v1.2) are:

- the popup keeps coming every time I start the app
- content does not seem to load after running the plugin (have not bug fixed this)
- the %@ is not replace by the app name

[2016-10-20 12:17] vespino commented on #143
Fixed the first item by using AppRate.promptForRating(false);

Fixed the second item by changing the order in which stuff is loaded.

Still looking for a way to fix the third item but for now replaced %@ with the name of the app.

[2016-10-20 12:17] #143 closed

[2016-10-24 21:15] 7h3m4dS0u1 commented on #134
How it's today using local storage... like @smeeguel solution.
(...)
`promptForRatingWindowButtonClickHandler = function(buttonIndex) {
    var base;
    switch (buttonIndex) {
      case 1:
        updateCounter('stop');
        AppRate.navigateToAppStore();
        break;
      case 2:
        updateCounter('reset');
        break;
      case 3:
        updateCounter('stop');
    }
    return ty

[2016-10-24 22:00] 7h3m4dS0u1 commented on #133
HI @ankushgoyal27,
this is my solution.
Note "case 0:"

'''javascript
 promptForRatingWindowButtonClickHandler = function(buttonIndex) {
    var base;
    switch (buttonIndex) {
      case 1:
        updateCounter('stop');
        AppRate.navigateToAppStore();
        break;
      case 2:
        updateCounter('reset');
        break;
      case 3:
        updateCounter('stop');
        break;

[2016-10-27 18:43] ihpalash opened #144 "Show "Ok" button On right side, where thumb reaches. [Android]"
Is there a way, to show "Ok button" on right side and "Later" button on left side.
Our UI/UX analytics shows that people use thumb to navigate dialogs.

Please reply as soon as possible

thanks

[2016-10-27 18:53] ihpalash commented on #144
Found the solution. @pushandplay  Please make an update as this is very good for UI/UX
Till then the solution is "search" for this code in cordova-plugin-apprate/apprate.js

 `       navigator.notification.confirm(localeObj.message, promptForRatingWindowButtonClickHandler, localeObj.title, [localeObj.laterButtonLabel, localeObj.cancelButtonLabel,localeObj.rateButtonLabel]);
`
[this is the section

[2016-10-27 18:53] #144 closed

[2016-10-29 18:21] mjurczyk opened #145 "App Store doesn't open in iOS10. `openStoreInApp=false` doesn't work on iOS10."
If we set `openStoreInApp` to _false_ in the preferences, AppStore isn't opened as en external application. No error is thrown, just no reaction at all (for both custom and navigator.confirm dialogs).
Works perfectly with `openStoreInApp` set to _true_ though.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/40620117-app-store-doesn-t

[2016-10-30 17:44] SharkChips commented on #145
Same here. This is a huge issue.

[2016-11-19 14:24] AlexTeixeira opened #146 "Pop up never open in ionic project"
Hello,

I have a ionic project in play & app store. I wan't to implement the app rate plugin to ask users to vote for the application.

The problem is that the pop up is never shown.

Here my appRate preferences initiate in app config :
[code]

To call the pop up, I do it like that.

[code]

I can put it in every part of my app, it not work.

[2016-11-19 15:59] #146 closed

[2016-11-19 16:00] AlexTeixeira commented on #146
Issue with ionic and not the plugins sorry :)

[2016-11-21 09:23] mourice opened #147 "%@ patterns in customLocale object not replaced with the title"
%@ is not replaced with the app title. Dialog shown with the %@

![screenshot_20161122-145345](https://cloud.githubusercontent.com/assets/1805296/20477234/af46fb62-affa-11e6-9bed-020e7fe66257.jpg)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/39413516-patterns-in-customlocale-object-not-replaced-with-the-title?utm_campaign=plugin&u

[2016-11-22 18:51] polomani commented on #141
the same for me

[2016-12-13 19:24] mjtaljaard opened #149 "PhonegapBuild says plugin unsupported: org.pushandplay.cordova.apprate"
PhonegapBuild says plugin unsupported: org.pushandplay.cordova.apprate

Please advise.

Thanks

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/40030248-phonegapbuild-says-plugin-unsupported-org-pushandplay-cordova-apprate?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We accept bounties via [

[2016-12-13 20:52] mjtaljaard opened #150 "Cannot get popup to show"
Please help. I cannot get the popup to show. What am I doing wrong?
Loaded into the config:

[code]

and in my index file:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/40033419-cannot-get-popup-to-show?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysou

[2016-12-14 14:38] andreaj8 commented on #118
i'v the the same error on iOS

[2016-12-21 12:20] vinodpandey commented on #141
+1

[2017-01-04 08:25] LuigiFerrante opened #151 "error locales"
Is necessary this?
|| locales[language.split(/-/)[0]]
into locales.js row 52.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/40712509-error-locales?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_conte

[2017-01-04 16:35] johnborges commented on #145
+1
Doesn't work for me either on iOS 10 regardless of `openStoreInApp: <true|false>`. Works fine in iOS < 10.0

[2017-01-07 17:38] geshub commented on #145
It's working for me with openStoreInApp set to true on IOS 10.2 ( iphone 6 ) but nothing happens if it's set to false.

[2017-01-08 22:28] geshub commented on #139
Still not on npm :(

[2017-01-12 11:05] geshub commented on #145
Also, if openStoreInApp is set to true, the app store page opens for me, but i can't actually review the app, **nothing happens on pressing the review link**. So basically you can't review on IOS 10 with openStoreInApp set to true or false.
Did anyone else noticed this problem ?

[2017-01-15 17:12] robertoibarra commented on #150
I'm having the same issue, new project, add the plugin from git (ver 1.3.0) directly and this code:
<script type="text/javascript" >alert(typeof AppRate);</script>
Says AppRate is undefined
I've only tested on android. please help, great plugin!

[2017-01-15 17:33] robertoibarra commented on #130
+1

[2017-01-15 17:42] robertoibarra commented on #150
After some fiddling, it seems AppRate is only populated after the onDeviceReady() in index.js is executed. This code seems to work as an example (from index.js):

var app = {
    // Application Constructor
    initialize: function() {
        document.addEventListener('deviceready', this.onDeviceReady.bind(this), false);
    },

    // deviceready Event Handler
    //
    // Bind any cordova event

[2017-01-20 18:40] ahar commented on #145
@geshub Yes, I'm experiencing this problem too. How did you solved it?

[2017-01-20 20:24] ankushgoyal27 commented on #133
Thanks for solution. We can close this issue.

[2017-01-22 22:49] geshub commented on #145
@ahar I couldn't solve it yet, i deactivated the plugin for now.
Just checking again if someone could make this plugin work with IOS 10 ?

[2017-01-24 05:50] thomashrabe commented on #118
Any solution to this yet? I see the same...

[2017-01-24 06:43] thomashrabe commented on #118
I am not sure, but from reading other posts my guess is that the iOS URL that's generated internally might have changed?

[2017-01-24 06:51] thomashrabe commented on #118
@snowbreeze I tried your way but `storeAppURL.ios` was undefined. Maybe that relates to your error?

[2017-01-24 23:41] thomashrabe commented on #118
Figured out at least one way how to fix this. You have to make sure you call everything after `platform.ready`.

[2017-01-26 16:14] dawuwu opened #152 "Cannot read property 'onRateDialogShow' of undefined"
Uncaught TypeError: Cannot read property 'onRateDialogShow' of undefined", source: file:///android_asset/www/plugins/cordova-plugin-appra
te/www/AppRate.js (94)

Is it possible to fix this error?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/41362271-cannot-read-property-onratedialogshow-of-undefined?utm_campaign=plugin&utm_content

[2017-01-27 09:44] dawuwu commented on #152
callbacks: {
    onRateDialogShow: function(callback){
  //stuff
    },
    onButtonClicked: function(buttonIndex){
     //stuff
    }
  }

is required for the plugin to work properly, probably should be added to the full setup options instead of a seperate part

[2017-01-27 09:44] #152 closed

[2017-01-27 09:52] dawuwu commented on #151
Yes, to identify the correct locale, since some locales are shown like en-us, en-gb etc

[2017-01-27 09:55] dawuwu commented on #139
is this project abandoned?

[2017-01-27 10:16] LuigiFerrante commented on #151
Ok, but my question is: is it correct?
Or is better language.split('-')[0].
Sorry if it's a stupid question.

[2017-01-27 16:54] garyconstable opened #153 "App Rate is not defined."
Hello,

I have installed the plugin as suggested here: http://ngcordova.com/docs/plugins/appRate/

It keeps on telling me that App rate is not defined. - http://prntscr.com/e13uxz

which means it is not showed here - http://prntscr.com/e13v94

how do i fix this?

thanks :)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/41401651-app-

[2017-01-27 17:22] garyconstable commented on #130
same here - its undefined.

[2017-01-27 17:25] robertoibarra commented on #130
I found out you have to call it AFTER the onDeviceReady method is triggered, then it works perfectly:

var app = {
    // Application Constructor
    initialize: function() {
        document.addEventListener('deviceready', this.onDeviceReady.bind(this), false);
    },

    // deviceready Event Handler
    //
    // Bind any cordova events here. Common events are:
    // 'pause', 'resume', etc.

[2017-01-29 20:48] garyconstable commented on #153
my bad - the calls to app rate need to be wrapped in the ondeviceready.

[2017-01-29 20:48] #153 closed

[2017-02-02 03:10] jbw91 opened #154 "iPhone won't navigate to App Store"
When using this plugin in my app on an Android device, it works properly, shows the popup, and navigates you to the Google Play store. When running the same app on my iPhone running iOS 10.2+, the popup is never presented.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/41575690-iphone-won-t-navigate-to-app-store?utm_campaign=plugin&

[2017-02-02 18:29] jbw91 commented on #154
Just did some further research. When you are using a custom locale:

[code]

Then the popup is never shown due to the code in the `showDialog` function. You have the code on [Lines 89-95](https://github.com/pushandplay/cordova-plugin-apprate/blob/master/www/AppRate.js#L89-L95) which checks that property, and if you're not using a custom locale, it doesn't ever show the popup.

So by removing the c

[2017-02-02 22:02] garyconstable opened #155 "Works on IOS but nothing happens with Android."
Hello, I have the plugin working with IOS.

When I click the "Yes I want to rate" button with android nothing happens - do I need to make any changes for Android to work?

just thinking do I need to allow intent to the market place, with the cordova whitelist ?

`<allow-intent href="market:*" />`

thanks.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.boun

[2017-02-03 09:22] garyconstable commented on #155
yeah, it was this `<allow-intent href="market:*" />`

[2017-02-03 09:22] #155 closed

[2017-02-06 00:30] jbw91 commented on #145
This is a huge issue for me as well. It works properly on Android, but using an iPhone it will not open.

[2017-02-13 20:26] b1ackb0x commented on #80
My take on this: I would say that it would be a good to have option but it might violate user privacy. Check this answer on SO : http://stackoverflow.com/a/11284580/895666 and this: http://stackoverflow.com/a/5318824/895666 .The best way to deal with this is to leave it to the user to rate/review it. Once the user clicks on the **Rate Now** button it is anyways out of the app's purview. At the max

[2017-02-15 10:58] Panajev commented on #154
Hello @jbw91,

I have tried to do the following on the JS side (app running on iOS 10.2.1 device):
[code]

Popup appeared, clicking "Rate it!" led to the App Store.

[2017-02-15 10:59] Panajev commented on #154
Are you using a custom popup UI?

[2017-02-22 10:30] wroquet opened #157 "Uncaught TypeError: Cannot read property 'done' of undefined"
I'm using the plugin on Android and iOs,
first i, use the plugin the simpliest way, like this inside a deviceready event :

[code]

it works fine but when i'm trying tu put custom messages, i'm getting this error in console :

[code]
this is my final code :

[code]
it works fine when i use promptFotRating without false...

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!

[2017-02-22 16:57] PetruMagdeleine commented on #154
Hi Panajev,

Same problem with ios 10.2+ (using ionic app / no custom popup UI).
I used your snippet and the Popup appeared. Clicking "Rate it" only close it. No error message.

[2017-02-23 23:32] harshabonthu commented on #154
I see the same issue, i.e Clicking on Rate it popup closes but doesn't redirect to Appstore. Not sure if this is the cause (https://github.com/pushandplay/cordova-plugin-apprate/pull/127) but adding back inappBrowser plugin worked i.e now it redirects to appstore.

[2017-03-10 15:55] oangelo commented on #157
I am having the same problem!

[2017-03-10 16:25] oangelo commented on #157
@wroquet, I managed to make it work. You must define the callbacks, other wise you will get that error. I have defined then as empty functions and everything is now working as expected. But this is not clear at all at the README. Here is my code in coffeescript:
[code]
Cleaning the cache and opening the app twice will ask for the user review.

[2017-03-14 08:00] rmabunga opened #158 "Can't rate the app"
Hi, I am trying to get the rate app plugin to work, but when I clicked the
"Rate it now" button, I got this error:

Error in Success callbackId: Notification1591841392 : TypeError: undefined is not an object (evaluating '(base = AppRate.preferences.callbacks).onButtonClicked')

My app is not yet deployed to the app store, is there a way to test this functionality
even if it is not yet on the App S

[2017-03-14 18:15] #133 closed

[2017-03-29 11:36] vivekpd15 opened #160 "Is requestReview api from SKStore​Review​Controller implemented for quick user reviews?"
Apple has released an API for providing App Store Ratings and Reviews directly. Is this included in the plugin?

https://developer.apple.com/library/content/releasenotes/General/WhatsNewIniOS/Articles/iOS10_3.html

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/43574669-is-requestreview-api-from-skstore-review-controller-implemented

[2017-04-05 20:17] omaxlive commented on #160
Hi @vivekpd15 Here's a plugin made for that: https://github.com/omaxlive/com.omarben.inappreview

[2017-05-03 21:25] esmiralha commented on #145
Works for me on iOS 10.2.

[2017-05-09 14:43] #160 closed

[2017-05-09 15:04] #151 closed

[2017-05-09 15:05] #150 closed

[2017-05-09 15:07] #142 closed

[2017-05-09 15:13] #135 closed

[2017-05-09 15:15] westonganger commented on #130
All cordova plugins must be used within `onDeviceReady`. Closing

[2017-05-09 15:15] #130 closed

[2017-05-09 15:28] westonganger commented on #85
Duplicate. Closing

[2017-05-09 15:28] #85 closed

[2017-05-09 15:30] #71 closed

[2017-05-09 15:34] #118 closed

[2017-05-09 15:46] westonganger commented on #93
This was related to using a `customLocale`. Just release v1.3.0 which fixes this.

[2017-05-09 15:46] #93 closed

[2017-05-09 15:46] westonganger commented on #147
This was related to using a customLocale. Just release v1.3.0 which fixes this.

[2017-05-09 15:46] #147 closed

[2017-05-09 15:47] westonganger commented on #139
v1.3.0 has now been released.

[2017-05-09 15:47] #139 closed

[2017-05-09 15:47] westonganger commented on #141
I just released v1.3.0 which fixes this bug of undefined callbacks.

[2017-05-09 15:47] #141 closed

[2017-05-09 15:48] westonganger commented on #157
I just released v1.3.0 which fixes this undefined callback issue.

[2017-05-09 15:48] #157 closed

[2017-05-09 15:48] westonganger commented on #154
v1.3.0 release which fixes this.

[2017-05-09 15:48] #154 closed

[2017-05-09 15:49] westonganger commented on #145
I just released v1.3.0 are you still experiencing these issues?

[2017-05-09 15:51] westonganger commented on #158
Fixed in latest v1.3.0 release.

[2017-05-09 15:51] #158 closed

[2017-05-09 15:51] westonganger commented on #149
Just release v1.3.0 is it working now?

[2017-05-09 15:52] westonganger commented on #132
PR would be welcomed for this feature.

[2017-05-09 15:53] westonganger commented on #116
v1.3.0 released please try that if you are having issues. Going to close this as its old.

[2017-05-09 15:53] #116 closed

[2017-05-09 15:56] westonganger commented on #112
Duplicate of #98 and #63

[2017-05-09 15:56] #112 closed

[2017-05-09 16:31] geshub commented on #145
It's working perfectly for me now on IOS 10.3.1, thanks a lot for the update !

[2017-05-09 16:32] #145 closed

[2017-05-22 08:02] dorgold opened #161 "Use app store "?action=write-review" parameter"
Apple has recently added the option to append `?action=write-review` query parameter to the store listing URL in order to be redirected directly to the "write review" section. It would be useful to send the users directly there.

(described in the bottom paragraph [here](https://developer.apple.com/reference/storekit/skstorereviewcontroller/2851536-requestreview))
`To automatically open a page on

[2017-05-23 17:38] westonganger commented on #161
Would accept a PR for this.

[2017-05-25 12:15] rodrigograca31 commented on #76
@revie
Any way to know if someone installed the app throutgh Amazon App store? So that we can send them to the Amazon App page to review the app?

[2017-05-25 14:51] revie commented on #76
Absolutely:  ionic.Platform.isAndroid() && window.navigator.userAgent.match(/\bfireos\b/i)

[2017-05-25 14:55] revie commented on #76
Absolutely.  If they installed through the Amazon App store, then the window.navigator.userAgent will tell you, such as:

if (/(Amazon)/i.test(navigator.userAgent))

[2017-05-25 15:31] rodrigograca31 commented on #76
Doens't cordova bundle chrome/chromium webview...? doesn't that mean that it will return "Chrome/Android" in `navigator.userAgent`?
Ins't it just like a normal app but installed through Amazon underground...?

Would this work?
[code]

[2017-05-25 20:41] rodrigograca31 commented on #76
Using that URL scheme works.
But my Android always returns "`Android`" in the userAgent... Not sure what device will return "`Amazon`" but this code works:
[code]

[2017-05-26 07:03] carliblaz commented on #157
Strange I user 1.3.0 and I still get this error: Uncaught TypeError: Cannot read property 'done' of undefined

[2017-05-26 07:17] carliblaz opened #162 "Android: openStoreInApp: false"
Why do you use InAppBrowser for Android, it could be Intent for market source?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45592169-android-openstoreinapp-false?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign

[2017-06-10 08:14] remisture commented on #161
+1

[2017-06-10 18:17] remisture commented on #132
+1

[2017-06-14 15:45] #161 closed

[2017-06-14 16:28] #18 closed

[2017-06-15 10:43] remisture opened #164 "Example for 'useCustomRateDialog'?"
Hi,

Is there an example implementation with `useCustomRateDialog : true` anywhere?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46246075-example-for-usecustomratedialog?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_

[2017-06-19 12:14] jonasblumer opened #165 "Change translation text"
We have an app with 4 languages supported, but would like to override the text displayed in the popup. As far as I can see, I can use customLocale to add my own text - but then I don't have multilanguage-support. Is that correct?
- How can I go about overriding the default locales but still have multilanguage-support?

or

- How can I go about adding multiple customLocales?

<bountysource-plugin>

[2017-06-19 13:52] jonasblumer commented on #157
I'm also still getting this issue in 1.3.0

[2017-06-21 12:52] jonasblumer commented on #165
thought I found a fix, but I didn't. Reopening.

[2017-06-23 07:34] westonganger commented on #164
After looking into this its a bogus option. I removed this feature as theres no easy way to create a custom dialog without knowing the internals. Feel free to open another issue or PR if you have a better idea for this kind of feature.

[2017-06-23 07:34] #164 closed

[2017-06-23 07:35] #162 closed

[2017-06-23 07:37] westonganger commented on #165
Looks like you've caught a nasty bug. Would love a PR for this.

[2017-06-23 07:37] #149 closed

[2017-06-23 07:39] #32 closed

[2017-06-23 07:39] #36 closed

[2017-06-24 23:57] saintsatplay2015 opened #167 "Plugin not triggering on Android"
Firstly, thanks for your work on this plugin - it's very much appreciated.

I'm using Ionic 3.4 to build an app on iOS & Android.

The AppRate plugin works perfectly on iOS but doesn't trigger on Android.
The click handler is working (as this triggers the AppRate modal window on iOS) but nothing is ever displayed on Android.

Both platforms use the same codebase so I'm not sure why this is happeni

[2017-06-27 17:38] gigocabrera opened #168 "TypeError: Cannot set property 'storeAppURL' of null"
**Ionic version:**
[x] **3.x**

**I'm submitting a ...**
[x] bug report

**Current behavior:**
I'm getting the error message below
1) In Chrome (Windows) - I get the error
2) In Safari (El Capitan) - I get the error
3) On the iOS device itself - I don't get the error and I'm able to rate the app as expected

Am I missing something or is this a bug?

[code]

**Expected behavior:**
I expect no error

[2017-06-30 11:12] sandeshgb opened #170 "package.json missing when ionic cordova plugin add cordova-plugin-apprate is executed"
[ERROR] Cordova encountered an error.
        You may get more insight by running the Cordova command above directly.

[ERROR] An error occurred while running cordova plugin add cordova-plugin-apprate --save (exit code 1):

        Error: Failed to fetch plugin cordova-plugin-apprate@^1.3.0 via registry.
        Probably this is either a connection problem, or plugin spec is incorrect.
        Che

[2017-07-07 23:13] JoseRoman commented on #99
@SMJ93 @westonganger I know this is super old but I was wondering if you guys remember how to fix this? I'm getting the same error on an old ionic app and I couldn't find any other resource online apart from this issue

[2017-07-13 04:46] gaharrington commented on #168
I am having the same issue:
- Error occurs when running with: ionic serve
- Works correctly on device.

Does anyone have any insights about this?

[2017-07-13 14:15] gigocabrera commented on #168
Answer is here

https://github.com/ionic-team/ionic-native/issues/1740

[2017-07-13 14:15] #168 closed

[2017-07-20 12:40] NBAMj commented on #170
package.json is missing from `cordova-plugin-inappbrowser` as its mentioned in your output, not from `cordova-plugin-apprate`

[2017-07-20 12:48] NBAMj commented on #167
Strange, I'm using the latest ionic version *3.5.3* and its working fine.
Did you try to call [callbacks.onRateDialogShow](https://github.com/pushandplay/cordova-plugin-apprate/tree/v1.3.0#options--preferences) and insert a `console.log('test')` inside and check your log?
Is it ever reaching the log statement?

[2017-07-25 06:24] amovsesy commented on #132
+ 1

[2017-07-27 14:26] SMJ93 commented on #99
@JoseRoman  @danieltamiosso I decided to create my own solution which would display a popup box with 5 stars and then send the rating to an custom endpoint before forwarding the user to the relevant App in the App Store. Sorry for the late response!

[2017-07-29 13:10] rashnk opened #173 "does this plugin let the user rate without going to play store"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47730143-does-this-plugin-let-the-user-rate-without-going-to-play-store?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medi

[2017-07-30 07:36] NBAMj commented on #157
Yeah same issue with 1.3.0

[2017-08-03 14:41] xale76 opened #175 "phonegap iOS Build failed"
I build by app with PhoneGap. Today I tried to rebuild (for certificates update) my app and I get an error in my iOS build:

error: use of undeclared identifier 'SKStoreReviewController'

I build my app with the same version of code and plugins (apprate included), CLI (6.2.0) of cordova and so on. In my previous builds of iOs no errors. What's happened?
I also tried to move target OS to 9.2 (from8

[2017-08-06 20:13] jony89 opened #176 "package.json / plugin.xml are not up to date"
version is still on 1.3.0

so for example when installing this plugin, the following PR code is missing : #156

@pushandplay, please update version

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47990394-package-json-plugin-xml-are-not-up-to-date?utm_campaign=plugin&utm_content=tracker%2F1192251&utm_medium=issues&utm_source=github)

[2017-08-09 20:06] ESA14 commented on #175
Same issue here!

[2017-09-03 00:03] JimJty commented on #176
Yes, please fix. I am doing this in the mean time:

cordova plugin add https://github.com/pushandplay/cordova-plugin-apprate.git#05f5adf54e3e3a8294b2b083ef884bc106100297 --save

[2017-09-06 07:43] superkarmi opened #177 "Error when with usesUntilPrompt and overriding preferences"
The plugin will produce an error if setting usesUntilPrompt but overriding AppRate.preferences without defining AppRate.preferences.callbacks. The error happens on line 97 in AppRate.js.

Took me a long while to find out why AppRate.promptForRating(true) worked and AppRate.promptForRating(false) did not. Fixed it by adding callbacks: {} to my AppRate.preferences.

[2017-09-11 08:49] xale76 opened #178 "iOS 11 problems"
It seems that on iOS11 when user clicks on "rate" anything happens.
What's the problem?

this is my code (JS phonegap cordova)

AppRate.preferences = {
  usesUntilPrompt: 1,
  promptAgainForEachNewVersion: false,
  inAppReview: true,
  simpleMode: true,
  storeAppURL: {
      ios: 'xxxxxxx',
      android: 'xxxxxxx'
       },
  customLocale: {
    title: 'my tytle',
    message: 'my message',

[2017-09-13 12:09] Piero87 opened #179 "inAppReview how works?"
Hi,
I have set inAppReview = true, but I can't see any difference in the dialog. I have iOS 10.3.3. How it should work?

[2017-09-19 12:41] ColDrekken opened #180 "NSInvalidArgumentException on a iphone 6s+ only"
Hi all,

When the app rate is fired the whole application is freezed:

2017-09-19 14:37:04.922557+0200 Base-Chat[1718:472373] -[NSTaggedPointerString count]: unrecognized selector sent to instance 0xa746c75616665647
2017-09-19 14:37:04.923121+0200 Base-Chat[1718:472373] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[NSTaggedPointerString count]: unrecognized

[2017-09-21 16:46] hising commented on #175
Any progress on finding this? Kind of stuck on this as well.

[2017-09-29 18:41] chukwu opened #181 "Uncaught (in promise): TypeError: undefined is not an object"
ERROR
Error: Uncaught (in promise): TypeError: undefined is not an object (evaluating 'localeObject.title.replace') getLocale@file:///var/containers/Bundle/Application/939D7E87-96E8-46A6-A422-4D620A2B82AE/SCAD.app/www/plugins/cordova-plugin-apprate/www/locales.js:54:44 showDialog@file:///var/containers/Bundle/Application/939D7E87-96E8-46A6-A422-4D620A2B82AE/SCAD.app/www/plugins/cordova-plugin-appr

[2017-10-02 07:46] flortardittimrf commented on #179
+1 I can't figure it out either. I don't know if it's not working because I'm using development certificates.

[2017-10-05 14:53] jaanguita commented on #179
this is happening to me too... i can't see any inAppReview = true dialog.

[2017-10-11 21:37] viking2917 opened #182 "iOS 11 Native review, "Submit" is not selectable"
After installing the apprate plugin, and attempting native app review, the Submit button is not selectable and no rating can be submitted.

Using the following installation step:
`cordova plugin add https://github.com/pushandplay/cordova-plugin-apprate.git`

app code:

[code]

menu displays, I pick 4 out of 5 stars, and the submit button is greyed out and not selectable, as shown in screenshot.

A

[2017-10-11 22:09] viking2917 commented on #182
Update: I am a moron. I put the Bundle ID, not the App ID. To be fair Apple doesn't help, in developer.apple.com, what they call the "ID" is really the Bundle ID, and no other ID is listed. But iTunes Connect makes this clear.

Closing as "operator error".

[2017-10-11 22:16] viking2917 commented on #182
Update: even with the right ID, the Submit button stays greyed out.

If I do,  AppRate.preferences.inAppReview = false, it works OK - launches to the App Store, where a rating can be left.
But if I do  AppRate.preferences.inAppReview = false, I get the greyed out submit button.

I'm not confident I have not made an error, but I think something is still wrong on iOS 11.

[2017-10-12 05:54] swarl opened #183 "Cordova as npm dependency"
The apprate plugin (LATEST) has cordova as a dependency. This leads to sideeffects because of cordova being a local dependency instead of a global one:

[code]

[code]
[code]

As you can see, npm is a dependency of cordova-lib an is therefore overriding global npm (ionic info npm version vs. global version). So cordova must not be a local dependency. Please remove it.

[2017-10-12 21:09] viking2917 commented on #178
I also could not get this to work on IOS 11 - see https://github.com/pushandplay/cordova-plugin-apprate/issues/182 for details.

By doing
`inAppReview: false`
my app was able to leave reviews, but it takes the user to the app store which is more work for them and less desirable.

[2017-10-20 14:25] vivekpd15 commented on #182
+1

Facing the same issue. Any known workarounds?

[2017-10-20 18:19] viking2917 commented on #182
@vivekpd15 the only workaround I found was to use:
AppRate.preferences.inAppReview = false
That launches the user to the App Store to review, which is much less convenient, but at least it's something.

[2017-10-23 08:20] jmcrthrs commented on #182
https://stackoverflow.com/a/44258115

[2017-10-23 08:21] jmcrthrs commented on #178
https://github.com/pushandplay/cordova-plugin-apprate/issues/182#issuecomment-338582900

[2017-10-23 11:18] vivekpd15 commented on #182
@jmcrthrs Amazing. Thanks for this info.

Apple should be documenting such stuff. Gives devs a big pain.

[2017-10-26 02:38] viking2917 commented on #178
yes - per @jmcrthrs link, it does in fact work on iOS 11 for me - the issue is that the submit button is greyed out when you have a development app, but after it's released in the app store, it works. Wildly counter-intuitive, but works.

[2017-11-02 15:03] erperejildo commented on #151
Getting this issue now:

Could be this related?

[2017-11-02 23:18] erperejildo opened #184 "Not working with Ionic 3"
I followed this tutorial: http://ionicframework.com/docs/native/app-rate/

I'm using the second approach but I get this error:
[code]

If I remove this line I don't trigger the rating but nothing else fails:
`this.appRate.promptForRating(true);`

[2017-11-03 09:29] cmartin81 commented on #183
As a workaround you could install npm as a dev-dependency.... but it should be removed from

[2017-11-03 09:43] cmartin81 commented on #183
I created a pull request regarding this issue.

[2017-11-05 13:34] younesyzd opened #186 "show review popup"
Hello
i need to show review popup every time user connect to game and when the user review my game stop to show the review popup ? that is possible in this plugin ?

[2017-11-07 11:40] erperejildo commented on #184
no ideas?

[2017-11-10 14:23] ldinatale1182 commented on #179
This is because they merged the PR to add support for iOS 10.3's requirement but never created a new release for it... You're going to have to point your plugin to that specific commit and use:
`openStoreInApp: true,`

and in config.xml I have this:
`<plugin name="cordova-plugin-apprate" spec="https://github.com/pushandplay/cordova-plugin-apprate#0cc8b3b424491d35b1e571a69b21d2ae7cb9cff9" />`

[2017-11-10 14:24] ldinatale1182 commented on #186
Yes, you have complete control as to when you show the review popup.

[2017-11-10 14:26] ldinatale1182 commented on #184
I'm using Ionic 3 and have no issues. I followed this tutorial:
http://masteringionic.com/blog/2017-06-20-implementing-the-app-rate-plugin-for-ionic-applications/

[2017-11-11 18:10] erperejildo commented on #184
I tried it and same thing.

There is no too much different comparing with Ionic's one.

The only thing I do in a different way is the injection, because I don't need an extra provider because I want to load this from my component directly so I don't use `@Injectable()`
But anyway Ionic doesn't suggest this either os his documentation.

Might be related? I think it should be something else

[2017-11-11 18:32] erperejildo commented on #184
And also what do we need the http injection for? It's not being used

[2017-11-11 18:42] erperejildo commented on #184
Ok, working with this tutorial:
https://ionicacademy.com/rate-my-app-ionic/

[2017-11-11 18:42] #184 closed

[2017-11-13 18:34] newelement opened #187 "Unable to install plugin"
Greetings, trying to install plugin, but receiving an error.

`> cordova plugin add cordova-plugin-apprate --save
Error: Failed to fetch plugin cordova-plugin-apprate@^1.3.0 via registry.
Probably this is either a connection problem, or plugin spec is incorrect.
Check your connection and plugin name/version/URL.
Error: npm: Command failed with exit code 1 Error output:
npm ERR! Darwin 17.2.0
npm E

[2017-11-14 06:14] anegash opened #188 "Adding plugin error"
Error: Cannot find plugin.xml for plugin "yargs-parser". Please try adding it again.

[ERROR] An error occurred while running cordova plugin add
        cordova-plugin-apprate --save (exit code 1).

[2017-11-15 21:32] ldinatale1182 opened #189 "Plugin fails to install when using cordova 7.0.1"
This plugin does not work on Cordova 7.0.1. Downgrading to Cordova 6.5.0 works fine.

[code]

[2017-11-17 11:16] bbdangar commented on #187
I also got the same error..

any solutions??

[2017-11-21 15:23] fdambrosio commented on #189
I can't install this plugin:

[code]

after that, if iI retry the second time:

[code]

the third time was good:

[code]

[2017-11-22 13:46] fdambrosio commented on #177
thank you @superkarmi

[2017-11-24 04:20] gopalaiahvinay opened #190 "Ionic 3 - NPM Error while installing plugin"
Greetings,

I am trying to install the plugin,
But it is throwing errors referencing the **npm ERR! code EPEERINVALID**

Pastebin Link: https://pastebin.com/embed_iframe/uKmnS55t

Screenshot:
![image](https://user-images.githubusercontent.com/4154510/33195372-e94ca8c4-d0fc-11e7-81d2-ee7b41f3eccf.png)

Any help regarding this issue would be appreciated.

[2017-11-29 16:47] petemcwilliams commented on #190
I am seeing something similar does the plugin have a peerdependency of npm?

[2017-11-29 16:47] petemcwilliams commented on #190
npm ls npm

└─┬ cordova-plugin-apprate@1.3.0
  └─┬ cordova@7.1.0
    └─┬ cordova-lib@7.1.0
      └── npm@2.15.12

[2017-11-29 16:50] petemcwilliams commented on #183
Connected to issue https://github.com/pushandplay/cordova-plugin-apprate/issues/190 ?

[2017-12-05 01:51] rolinger commented on #182
@vivekpd15  - It's Apple.  Users rave about Apple products...but I can never find a developer that raves about making apps for Apple.  I loathe Apple....its like they go out of their way to make developing for them as difficult as humanly possible.

[2017-12-05 13:14] rolinger opened #191 "Throwing errors if no callbacks declared."
I have been using this plugin for quite sometime now and I haven't paid much attention to it until a user pointed out to my that the Rate App button in my app wasn't working for iOS anymore.  When I looked into I see that the plugin has gone through some pretty big changes.  I have no idea how long its been broken in my app.

My issues below highlight the obvious need for use of callbacks now.  Bu

[2017-12-05 13:25] rolinger opened #192 "Please provide better descriptions"
Could you please provide better descriptions in the Plugin description sections?  Especially pertaining to the callbacks:

[code]

As well as the following:

This is a almost a triple negative.  Should this say, `"If true is present, it will ignore: usesUntilPrompt, promptAgainForEachNewVersion and button logic.  It will prompt the user every time."`  Is this accurate?

[2017-12-05 13:50] rolinger opened #193 "iOS: Is there anyway to test this in development mode?"
Is there any method for testing this plugin's functionality for iOS while the app is in development mode?  Publishing a new version of the app to test if a button works is def not ideal.  Apple takes at least 24 hours to review apps to get them to the store...and when it does make it to the store what if the button doesn't work?

1.  Means, the app is published with a broken button.
2.  Also means

[2017-12-07 17:39] pablo-gonzalez commented on #165
@jonasblumer I guess you can update the translations in locales.js file directly as a workaround.

[2017-12-15 13:43] YamanSehzade commented on #190
+1

[2017-12-17 16:58] elioscordo opened #194 "In app review option does not work in the Testflight Version"
The in app review window ( ios ) gets fired in the emulator but it does not during tests in test flights. Is it a common problem?

[2017-12-19 09:59] adappter commented on #158
Still present in v1.3.0

[2017-12-20 09:34] swarl commented on #183
When will this be released?

[2017-12-20 09:34] #183 closed

[2017-12-30 10:27] abitul commented on #141
@ranvirgorai  , u can use following code, it's work for me

          this.appRate.promptForRating(true);
          this.appRate.preferences = {
            usesUntilPrompt: 3,
            storeAppURL: {
             ios: "com.abi.murottaloffline",
             android: "market://details?id=com.abi.murottaloffline",
             windows: "ms-windows-store://review/?ProductId=com.abi.murottalofflin

[2018-01-03 20:24] jackvial commented on #194
I'm also having this issue.

[2018-01-03 20:51] jackvial commented on #194
It looks like not showing the in app review prompt in TestFlight is the what Apple intended.

From the store kit docs:
https://developer.apple.com/documentation/storekit/skstorereviewcontroller/2851536-requestreview

[2018-01-03 20:53] jackvial commented on #193
There is no way to test it that I know off. You will just have to hope for the best, unfortunately.

[2018-01-03 20:56] jackvial commented on #192
The description could be better but the JS for the plugin is pretty straight forward so you should be able to get a better idea of what each method is doing by reading the source in AppRate.js

[2018-01-09 14:55] bunsen32 opened #196 "Should wrap call to "networkActivityIndicatorVisible""
When I compile my app, XCode flags this line:

https://github.com/pushandplay/cordova-plugin-apprate/blob/7bb820d1a347522517be0f309fb0ed2a584f9c5b/src/ios/CDVAppRate.m#L75

Saying

[2018-01-11 12:08] Yuripetusko opened #197 "Clicking `No, Thanks` it still prompts next time"
Should I manage this case manually? I currently I can see that if user clicks No thanks it will still prompt next time, so do I need to manage his choice manually and not call prompt next time?

[2018-01-11 15:40] a-faraz commented on #197
do you have `AppRate.promptForRating(false);` ?

[2018-01-11 15:43] Yuripetusko commented on #197
@a-faraz yes I do

[code]

[2018-01-12 11:52] Yuripetusko commented on #197
My fault, was indeed not passing `false`

[2018-01-12 11:52] #197 closed

[2018-01-13 03:58] bariza opened #198 "FLAG_NATIVE_CODE_SUPPORTED returns true in chrome browser"
the FLAG_NATIVE_CODE_SUPPORTED test returns true in chrome desktop browser while on mobile mode. Is there a better way to determine if it is actually running on a device?

[2018-01-23 08:49] staskuban commented on #157
Problem with that code:
[code]
I don't found usage `done` callback not using in plugin and ionic framework typings so I came to the conclusion that you can bring this code to the next form

[code]

It helps with error.

[2018-02-16 14:33] selected-pixel-jameson commented on #192
So if my intention is to implement usesUntilPrompt and I not supposed to call AppRate.promptForRating at all? Or am I supposed to call it with false?

[2018-02-20 10:51] jasonvdzeeuw commented on #176
@JimJty @pushandplay I've tried the current version as well as the following:
"cordova plugin add https://github.com/pushandplay/cordova-plugin-apprate.git#05f5adf54e3e3a8294b2b083ef884bc106100297 --save"

But I'm immediately getting the rate dialog, I wan't to be able to filter the negative feedback and callback these to their email, but I'm not getting the right version of the plugin I guess?
I

[2018-02-20 23:26] Sampath-Lokuge commented on #184
Thanks. It is working fine now :) @erperejildo

[2018-02-26 06:13] edvenkat opened #201 "information about plugin"
if i try to write a review, how we get the email address??

Please tell me

[2018-03-02 11:36] erperejildo opened #202 "Displaying alert all the time"
**Platform:**
Android using Ionic 3

**Code:**
[code]

**Problem:**
The alert is being displayed all the time no matters either how big `usesUntilPrompt` is or if I click in "Maybe later" or "No, thanks" button

**Example:**
https://play.google.com/store/apps/details?id=drodriguez.apps.Words&hl=en

[2018-03-03 11:23] Defcon0 commented on #183
Same here. Please release it as a tag @pushandplay

[2018-03-06 14:00] yosikal opened #203 "Plugin causing to App crash when simpleMode=false and locale doesn't contain Yes/No button texts"
Observed this on iOS, user, for example with locale such as "pl" and simpleMode=false. Since the Yes/No buttons is null and that's how it passed to the dialog plugin, the dialog plugin is crashing.

[2018-03-08 07:13] Gaurvdhenwal opened #204 "Cannot install apprate plugin ,giving dependency issue with inappbrowser"
cordova plugin add cordova-plugin-apprate --save
Installing "cordova-plugin-apprate" for ios

Plugin dependency "cordova-plugin-dialogs@2.0.1" already fetched, using that version.

Dependent plugin "cordova-plugin-dialogs" already installed on ios.

Plugin dependency "cordova-plugin-globalization@1.0.9" already fetched, using that version.

Dependent plugin "cordova-plugin-globalization" already i

[2018-03-24 16:06] jkapongo commented on #202
I believe `this.appRate.promptForRating(true);` causes it to prompt. The parameter passed to the function is to cause it to call it immediately, if true, it ignores `usesUntilPrompt`.

[2018-03-24 18:40] erperejildo commented on #202
Thanks! working now

[2018-03-24 18:40] #202 closed

[2018-03-27 15:00] shochberg opened #205 "rate dialog box still present after rating"
Hello,
Great plug in.  Thanks for your work.
Minor point - after the user clicks "OK" to move to the rating screen in either iOS or Android, and then leaves that screen to return to the app, the "rate this app?" box still is showing, and it's not obvious how to get rid of it other than clicking no thanks.
Is there something I should be doing explicitly to close the box automatically?
Thanks.

[2018-05-18 02:57] Gajendrasinh opened #207 "How to apply custom CSS property in customLocale button"
I want change CSS for button (REMIND ME LATER, RATE IT NOW AND NO, THANKS).

What to apply 100% of all button and background color

[2018-05-20 13:41] Ruslancic opened #208 "NPM Audit Vulnerabilities"
When i try to audit my App,  on console, i see the message:
Critical        Command Injection

[2018-05-30 01:06] eomonteiro commented on #208
+1

[2018-06-04 05:46] jarekskuder opened #209 "Rate app pop-up buttons"
Is there a way to hide Rate later button? In android you can just leave text of this button empty string like this - "", but then in the IOS you can see this button empty in the middle of two other buttons.

[2018-06-06 14:40] ndrake commented on #151
@erperejildo I was just seeing this same error.  Turned out to be a problem with how I was setting up AppRate.preferences.  I wasn't setting a value for useLanguage, which resulted it it being 'undefined' instead of null (the default).  Once I added "useLanguage: null" to my AppRate.preferences object I no longer got the 'split' error.

[2018-06-11 15:38] joe-scotto opened #210 "App ID or Bundle ID?"
When setting the `storeAppUrl` do we use the bundle id of our app of the app ID on the app store?

[2018-06-11 16:00] viking2917 commented on #210
In ITunes Connect, look at your app page and get your "Apple ID".  Not the "App ID" prefix in developer.apple.com. Should be in the "General Information" section.

[2018-06-13 16:09] #210 closed

[2018-06-13 16:14] westonganger commented on #208
It is possible this was a result of a bug which is now fixed in https://github.com/pushandplay/cordova-plugin-apprate/pull/185

I have released a new version. Is this still occurring with the new version?

[2018-06-13 16:14] #207 closed

[2018-06-13 16:15] #204 closed

[2018-06-13 16:15] #201 closed

[2018-06-13 16:16] #198 closed

[2018-06-13 16:18] #192 closed

[2018-06-13 16:20] westonganger commented on #191
PR would be appreciated for this

[2018-06-13 16:20] westonganger commented on #196
PR would be appreciated for this

[2018-06-13 16:21] westonganger commented on #209
PR would be appreciated for this

[2018-06-13 16:21] westonganger commented on #205
PR would be appreciated for this

[2018-06-13 16:21] westonganger commented on #203
PR would be appreciated for this

[2018-06-13 16:23] westonganger commented on #190
This was a result of a bug which is now fixed in #185. v1.4.0 now released.

[2018-06-13 16:23] #190 closed

[2018-06-13 16:23] #189 closed

[2018-06-13 16:23] #188 closed

[2018-06-13 16:27] westonganger commented on #176
v1.4.0 released.

[2018-06-13 16:27] #176 closed

[2018-06-13 16:28] westonganger commented on #175
v1.4.0 released. Is this still an issue for you with the latest version?

[2018-06-13 16:28] #173 closed

[2018-06-13 16:28] #170 closed

[2018-06-13 16:28] #167 closed

[2018-06-15 16:25] dlaudh opened #212 "Crash APP iOS"
<h3> Intro </h3>
Hello, when compile and call method <b>this.appRate.promptForRating(true);</b> the app doesn't work, crash and close.

<h3> My ionic info </h3>

cli packages: (/usr/local/lib/node_modules)

    @ionic/cli-plugin-proxy : 1.5.8
    @ionic/cli-utils        : 1.19.2
    ionic (Ionic CLI)       : 3.20.0

global packages:

    cordova (Cordova CLI) : 8.0.0

local packages:

    @ionic/a

[2018-06-17 09:49] Mobiletainment commented on #212
same problem here. It only occurs in the release build though.

[2018-06-20 14:19] DualH commented on #212
@Mobiletainment how sure are you?
Do you have any proof?

Thanks

[2018-06-24 11:13] Hizabr commented on #212
For me, crash only if `appRate.preferences.simpleMode = false;`

[2018-06-25 15:07] DualH commented on #212
Hello guys, I solve this problem downloading version to @1.2.0

Regrads

[2018-06-28 16:06] MohamedGamil commented on #175
Issue is still persisting, any suggested workarounds?

[2018-06-29 13:15] kurtiev commented on #212
For me the same :/
http://prntscr.com/k0t55l
But it works on iOS 10.3 and not on iOS 11.4....
Any news with this issue?
On Android didn't test.

[2018-06-29 13:31] DualH commented on #212
Hi @kurtiev,

On android it does not matter the version works perfectly it's only on ios.

My solution does not work, sorry

[2018-06-29 13:37] kurtiev commented on #212
@DualH   let to know please, if you will find alternative solution. Thanks.

[2018-06-29 16:57] kurtiev commented on #212
@DualH
Sorry, issue is fixed.
Just do not laugh at me, the issue was that i was using:
`ios: '<app_id>'`
instead of:
`ios: 'app_id'`

[2018-06-29 17:00] DualH commented on #212
@kurtiev, yes the correct shape of implement is
`ios:` '213123'
            ↑ numbers random haha.

In my case is different because, the problem start when I update to Ionic 3 and Angular 5

Regards.

[2018-06-29 19:52] kurtiev opened #213 "Get stars amount."
Hi,
Is there any ability to know, how many stars user is submit?
Thanks.

[2018-06-30 11:07] kurtiev opened #214 "How to skip popup with 3 asking buttons?"
Is it possible to show final popup with starts?
I want just skip popup with 3  asking buttons(No Thanks, Remind Me Later, Rate It Now).

[2018-07-01 14:00] Darshan-Chauhan commented on #158
@westonganger , I'm still getting this issue in version 1.4 too

[2018-07-01 14:01] Darshan-Chauhan commented on #158
@rmabunga , were you able to solve the problem??

[2018-07-01 17:33] cecodor opened #215 "Empty dialog with Ionic"
Don't know why but I follow all the instructions and guides, but I always get an empty dialog with null value buttons.

First, I install the plugin using the following command:

[code]

Later, for testing purposes, I add this code after the platform.ready() line:

[code]

But all I get in my app is this:

![screenshot_20180701-122644](https://user-images.githubusercontent.com/23288172/42137031-e21

[2018-07-02 02:20] DualH opened #216 "Error to open App Store"
In this image show the error

[https://ibb.co/nbHKPy](https://ibb.co/nbHKPy)

The version of the plugin is 1.2.0, this version of the app is in distribution.

Help pls

[2018-07-02 06:32] andelz commented on #215
Same for me. Looks like at least the current Android Version (8) has kind of a "Pre-Dialog" that says: "Do you like using XYZ?" [YES!] [NOT REALLY]. If you hit yes you'll get the actual dialog. Problem here is that there seem to be no proper translations. If I set useLanguage property on preferences to 'en', I get the message mentioned above. Switching to 'de' I get an empty dialog with 2 NULL but

[2018-07-05 17:45] Abdenasser commented on #215
It seems to be an issue with the latest version 1.4.0 use version 1.3.0 instead

[2018-07-05 18:57] Alberick commented on #215
I'm currently using this version in production and for me it works nice just add the

and

.

This is my object preferences.
`     this.appRate
            .preferences = {
            simpleMode: false,
            displayAppName: 'MiTUCson',
            usesUntilPrompt: 3,
            promptAgainForEachNewVersion: true,
            storeAppURL: {
                ios: '1398876880',

[2018-07-08 02:20] DioNNiS commented on #184
This issue happens when customLocale not provided.
Be careful assigning AppRate.preferences = {...}. It's overwriting default preferences. It's better to extend object...

[2018-07-13 02:51] josteph commented on #182
This issue should be included in documentation. Some people might find this confusing.

[2018-07-13 02:53] westonganger commented on #182
@josteph would happily accept a PR

[2018-07-13 16:40] DualH commented on #216
@AndreasGassmann Hi!

[https://itunes.apple.com/uy/app/prex-card/id927400689](https://itunes.apple.com/uy/app/prex-card/id927400689)

This is my app the id is 927400689, its correct no?

[2018-07-15 14:43] AndreasGassmann commented on #216
Yes, that's correct. In my case, I included "id", which was wrong. After I removed "id" and only used the numbers, it worked.

[2018-07-19 22:46] AndreasGassmann opened #217 "Runtime Error on iOS"
When I click on "Rate now", I **sometimes** get this error. When this happens, the store pops up (not the new InAppRating popup), but with a huge delay (1s - 10s).

Some testers also report that nothing is being shown at all, or the app is crashing completely. Sadly I have not been able to reproduce this locally. Does anyone else have this issue as well?

[code]

[2018-07-20 19:26] AndreasGassmann opened #218 "Plugin not working if language is not set to english"
## Problem

So I just spent more time than I'm willing to admit on figuring this out, but it seems that the translations are only updated for English and Portuguese. All other languages are missing 4 strings that are required:

Complete translation:
[code]

Incomplete translation:
[code]

There is no mechanism for a fallback language, so when the plugin tries to launch the alert (I assume), the po

[2018-07-21 04:40] Ralpharoo commented on #212
I've been using this plugin for a while and got stuck on this.  Looks like the plugin now requires you to supply a noButtonLabel and yesButtonLabel in your customLocale.

The Locales.getLocale() method used in showDialog (AppRate.js) does not check and provide default values for these. With your example above, when simpleMode === false, it calls;
`navigator.notification.confirm(localeObj.appRatePr

[2018-07-21 10:51] petrot commented on #212
@Ralpharoo thanks, it solves my problem :)

I use simpleMode: true, so the appRatePromptTitle and feedbackPromptTitle properties are not necessarry.

[2018-08-03 01:38] dmonaldo opened #219 "RateDialog does not close on callback"
The documentation suggests using a callback to immediately trigger the 'Rate Now' button, shown below:

    onRateDialogShow: function(callback){
        callback(1) // cause immediate click on 'Rate Now' button
    },

Two issues:
1. The RateDialog flashes before opening the native iOS in-app rate dialog box. After rating the app, the RateDialog box is still shown. In order to close it, the user

[2018-08-10 16:30] Hissvard commented on #218
Wew, I spent quite some time wondering what I was doing wrong since nothing kept happening - thank you a ton.
I think falling back to english is the best solution.

[2018-08-10 16:38] westonganger commented on #218
Would love a PR that sets this to english as fallback.

[2018-08-28 13:33] xavier-villelegier commented on #214
@kurtiev Did you finally find a way to do this ? 🤔

[2018-08-28 14:02] kurtiev commented on #214
Hi @xavier-villelegier, no i left it as it's.

[2018-08-29 07:28] xavier-villelegier commented on #214
Thanks for your answer @kurtiev. And do you know if it's possible to skip the first modal then ? The one with "Do you like using…" - "Yes"/"No" ?

[2018-08-29 07:48] kurtiev commented on #214
@xavier-villelegier Actually yes, by doc you can set `window.AppRate.preferences.simpleMode = true` and it's work for me.

[2018-08-29 07:54] xavier-villelegier commented on #214
Oh my bad, I actually missed this one. Thanks man

[2018-09-13 07:53] andrekosak opened #221 "Reset counter manually"
At the meantime "counter" object is being cached and synced to Storage, when method [updateCounter](https://github.com/pushandplay/cordova-plugin-apprate/blob/2325595f776261d4ce8f43316b188e96bad12f48/www/AppRate.js#L115) is being called.

It would be great to have a possibility to set the "counter.countdown" value manually. So like the method updateCounter would first read the actual value from St

[2018-09-14 04:45] kabus202 commented on #217
I have exactly the same issue. Any update on this?

`=================================================================
Main Thread Checker: UI API called on a background thread: -[UIApplication setNetworkActivityIndicatorVisible:]
PID: 547, TID: 90714, Thread name: (none), Queue name: com.apple.root.default-qos, QoS: 21
Backtrace:
4   Qenteken                            0x00000001043cdfc0 __29-[CD

[2018-09-14 14:50] AndreasGassmann commented on #217
I'm running the latest version and fixed this issue: https://github.com/pushandplay/cordova-plugin-apprate/issues/218 and it's working fine now.

[2018-09-21 20:04] tskweres opened #223 "Bug - keeps prompting user for review even after review"
Hey all,

I have the plugin set to prompt the user after 8 opens, however it continues to ask users to rate the app even after they have already rated it.

Anyone else experiencing this? Any solutions?

[2018-09-21 20:06] tskweres commented on #223
My code inside an angular service:

public registerRatingProvider() {
    // set certain preferences
    this.appRate.preferences.usesUntilPrompt = 10;
    this.appRate.preferences.storeAppURL = {
      ios: 'xxx',
      android: 'xxx',
    };
    this.appRate.promptForRating(false);
  }

[2018-09-29 07:05] mike-nelson opened #224 "Does not pop up app rating"
When I tap "Rate It Now" nothing happens.

I am calling this code.

		AppRate.preferences.displayAppName = "Speaking Email";

		AppRate.preferences.storeAppURL = {
			ios: '991406423',
			android: 'market://details?id=nz.co.beweb.speakingemail'
		};

		AppRate.promptForRating();

What should I look for?

[2018-09-29 09:10] Nelo-cool commented on #224
Me too, with cordova 8 in ios and android.

[2018-09-30 11:18] KiwiKilian commented on #214
You can directly skip the plugin popups by using `navigateToAppStore()`. If `inAppReview` is `true` and it hasn't already been prompted three times, it will show the in app dialogue on iOS, otherwise the App Store page.

[2018-10-03 18:33] ColDrekken opened #225 "Android does not start after adding Plugin"
Hello,

after i have added the plugin Android Version of the app does not start anymore.

in log i found:

10-03 20:29:53.918: D/SystemWebChromeClient(24616): file:///android_asset/www/lib/ionic-native/dist/ionic.native.min.js: Line 1 : Native: deviceready did not fire within 5000ms. This can happen when plugins are in an inconsistent state. Try removing plugins from plugins/ and reinstalling them

[2018-10-04 23:56] ColDrekken commented on #225
fixed it by remove android platform and add it again.

[2018-10-04 23:56] #225 closed

[2018-10-15 18:41] #218 closed

[2018-10-17 14:42] Darshan-Chauhan commented on #158
Just FYI, adding callBacks fixed the issue for me.

[code]

[2018-10-18 07:30] LinnielDW commented on #158
@Darshan-Chauhan That worked, now it's not crashing, but now it just doesn't go to the app rate screen :(.

Thanks for the help on this issue though!

[2018-10-18 10:58] Darshan-Chauhan commented on #158
@LinnielDW , It'll just open up a link to app store. For iTunes you can have in-app ratings.

[2018-10-19 08:11] geshub commented on #224
Doesn't work anymore for me on IOS with:
cordova (Cordova CLI) : 8.1.2 (cordova-lib@8.1.1)
Cordova Platforms     : android 7.1.1, ios 4.5.5

[2018-10-19 08:37] geshub commented on #224
Hi, @Nelo-cool , thanks a lot for your help,
I tried with en language but it's still not prompting on IOS, no errors returned.
It was working before i upgrade to Cordova 8.

[2018-10-19 08:43] geshub commented on #224
Just an update,
If i set AppRate.promptForRating to true, it's prompting again.
I had it to false because i'm using usesUntilPrompt.

[2018-10-19 08:47] Nelo-cool commented on #224
When i updated my cordova to 8 and other plugins, i had  the same thing behavior! Without erros and not show the dialog. I try set language to en and plugin was able to show the dialog! But only english. If you will get other solution, please, write this.

[2018-10-19 09:04] geshub commented on #224
@Nelo-cool mine is prompting now with useLanguage set to 'fr',
What's seems to be broken for me if the use of usesUntilPrompt.

[2018-10-30 21:53] cconnell12345 opened #230 "AppRate not working in Andorid Alpha App"
Will AppRate work when an android application has only been launched in Alpha?  Thanks.

[2018-12-14 13:21] gartorware commented on #215
I think this is just because of [missing translations here](https://github.com/pushandplay/cordova-plugin-apprate/blob/master/www/locales.js). We can either use simpleMode as suggested above or add our custom translations.

[2018-12-22 13:48] Sampath-Lokuge opened #232 "App rating plugin with 2 buttons is not working on Ionic 3"
Hi,

I use this app rate plugin and it is working fine. I need to remove `laterButtonLabel` from that dialogue box. I have just removed it from the `customLocale`. But then it shows `NULL` instead of removing it. So any clue to do this? i.e. I just need 2 buttons.

[code]

[2019-01-11 13:15] artuska commented on #196
+1

[2019-01-11 13:16] artuska commented on #224
+1, the same here, clicking on «Rate It Now» just do nothing.

[2019-01-11 13:16] artuska commented on #224
@geshub no, this does not help at all

[2019-01-11 14:42] artuska commented on #196
@westonganger everything just stops working after this error. I click «Rate It Now» and that is all, 5-star popup does not appear.

[2019-01-11 17:17] artuska commented on #209
+1

[2019-01-26 00:18] chrishanyu opened #234 "Only 15% of "Rate it now" shows up in the iOS App Store Ratings"
We track the click event when users click on "rate it now" button so it can gives us a sense of how many people rated the app upon AppRate asks for a review.  With 2 months of implementing this plugin, we've gotten around 500 unique clicks per user and only 100 increase in app store reviews. What might be the cause of the discrepancy? Does apple block most of the in-app ratings?

[2019-01-31 23:38] noveweb commented on #223
Same! +1

[2019-02-07 15:48] uosl commented on #223
We ended up handling this logic ourselves by using the `onButtonClicked` callback. (it passes `buttonIndex` where 1=cancel 2=later 3=rate)

[2019-02-14 09:48] regevbr commented on #224
Same issue here!

[2019-02-15 16:33] kvnngn opened #236 "AppRate make app crashes on IPhone 8 and iOS 12"
this.appRate.promptForRating(false); close the application on iphone 8

[2019-02-15 17:16] ColDrekken commented on #236
Hi,

check https://github.com/pushandplay/cordova-plugin-apprate/issues/212#issuecomment-406770208 answer. i just run into the same issue today and fixed it by adding missed locales fields to plugins locale.js .

[2019-02-18 11:20] deveshmishra34 opened #237 "ReferenceError: NativeStorage is not defined Ionic 4 (capacitor)"
E/Capacitor/Plugin/Console: ERROR Error: Uncaught (in promise): ReferenceError: NativeStorage is not defined
    ReferenceError: NativeStorage is not defined
        at capacitor-runtime.js:3598:7
        at Promise (<anonymous>)
        at Object.get (capacitor-runtime.js:3597:12)
        at Function.AppRate.init (capacitor-runtime.js:2998:15)
        at capacitor-runtime.js:3110:9
        at bui

[2019-02-19 19:30] JamesLivengood opened #238 "With the new Apple rules that (I think) required their native review widget, does this still work in iOS?"
According to this: https://developer.apple.com/app-store/ratings-and-reviews/ , apps are required now to use Apple's review widget, using the SKStoreReviewController. Does anyone know if Cordova still works for Apple, and your app won't get banned for it?

[2019-02-23 21:58] lights0123 commented on #238
@JamesLivengood This plugin [does use SKStoreReviewController](https://github.com/pushandplay/cordova-plugin-apprate/blob/70b3ff73a77f11f1c57337d067bec49afbf094ae/src/ios/CDVAppRate.m#L85).

[2019-02-23 23:32] lights0123 commented on #237
I'm experiencing the same thing. The weird thing is, though, NativeStorage is defined, and manually calling it works.

[2019-03-05 17:59] #238 closed

[2019-03-06 16:40] guylando commented on #237
Maybe its called as "NativeStorage" from inside a context where the global is now window?

[2019-03-06 16:43] guylando commented on #234
Android does not support in-app rating and users are just transition to store and might have not rated you there. I think the advanced mode is used to increase % of those who were redirected actually performing the review

[2019-03-06 16:44] guylando commented on #232
Your value of customLocale overrides original customLocale so the properties which are not defined are missing. Actually it depends how you declare the preferences. Probably better if you show the code of how and where do you set the plugin preferences

[2019-03-06 16:45] guylando commented on #230
Do you use it in a simulator or on your real device?

[2019-03-06 16:46] guylando commented on #221
Maybe call promptForAppRatingWindowButtonClickHandler  with index 0, see:
https://github.com/pushandplay/cordova-plugin-apprate/blob/2325595f776261d4ce8f43316b188e96bad12f48/www/AppRate.js#L57

[2019-03-13 02:02] chavesgu opened #240 "prompt constantly"
i run app in dev environment。
i go rating， but it will prompt when launch app next time

[2019-03-14 10:00] sances15 opened #241 "Disable negative feedback for plugin version 3.14.0"
I am using app-rate version 3.14.0. On pressing cancel on the first rating prompt with two button, if i click cancel, it shows another prompt for negative feedback. How can i disable this prompt?

[2019-03-19 18:56] corysmc commented on #237
Any work arounds for this?

[2019-03-20 09:05] liuborama opened #242 "When simpleMode=true is set, inAppReview= true doesn't work"
When simpleMode=true is set, inAppReview= true doesn't work.
On iOS 10.3 and above device, we can't show rating popup in app. just show the original popup
screen.

[2019-03-25 11:59] yoprogramo commented on #191
Same error here in android.

[code]

[2019-03-28 18:06] rodrigograca31 opened #243 ""const"? ES6?"
I was tracking down a problem in another plugin/script and realized this plugin uses ES6 features....
https://github.com/rossmartin/cordova-uglify/issues/46

How much can we rely on ES6?
Why not just use `var` instead of `const` ?

https://github.com/pushandplay/cordova-plugin-apprate/blob/c6d4953fb77eb21e53d6d60b2ff354210ea73986/www/AppRate.js#L300-L302

BTW, this code was introduced by this comm

[2019-03-28 21:50] westonganger commented on #243
Yes I support OG JS! Would love a PR, send it.

[2019-03-29 14:08] #243 closed

[2019-04-03 16:39] perezvon commented on #219
+1 to this question, having the exact same issue -- can easily PR the documentation (seems to need `callback(3)`) but would love to know how to auto-close the `RateDialog`.

[2019-04-04 14:44] rolinger opened #245 "Broken....again!"
Sorry, `apprate`, but I am moving on.

I have been using this plugin for over 2 years now....but once again, the `apprate` plugin has broken.  This plugin is currently tied with the Twitter plugin for how often it breaks or doesn't work either because of a version upgrade OR an OS upgrade on iOS or Android.

In the end, this plugin does not need to be this complicated with all these features - it

[2019-04-05 04:36] #245 closed

[2019-04-05 18:38] viking2917 commented on #182
Closing, documentation has been updated per https://github.com/pushandplay/cordova-plugin-apprate/pull/246

[2019-04-05 18:38] #182 closed

[2019-04-18 22:15] TerryZH commented on #224
Same issue here when used in ionic. It appears that preferences cannot be assigned.
[code]

Also, I did not install any of the following. Does it matter?

https://github.com/EddyVerbruggen/cordova-plugin-safariviewcontroller
https://github.com/apache/cordova-plugin-inappbrowser

[2019-04-30 08:55] eyalish opened #247 "When hitting Rate no redirection"
I'm runnning 1.4.0 plugin on corodova 7.1.0

The popup shows, but no redirection happnes.

what is the working way of the url?
    android: 'https://play.google.com/store/apps/details?id=com.xxx.yyy'
or
   market://details?id=<com.xxx.yyy>

[2019-05-01 13:02] #247 closed

[2019-05-01 16:36] ersingencturk opened #248 "apprate won't work if not set to AppRate.preferences.simpleMode=true; for most locales"
many locales missing the localization for the buttons, if simpleMode not set to true, these locales don't show apprate dialog and nothing happens

[2019-05-01 16:46] westonganger commented on #248
Thanks for pointing this out. Would you mind creating a PR to www/locales.js where the keys would fallback to english translation instead of blank string. This should fix the problem.

[2019-05-01 16:47] ersingencturk commented on #248
yes check the PR it's already there below my comment ;)

[2019-05-01 16:48] westonganger commented on #248
Thats not the PR I was requesting. I am requesting one that fixes the bug for all locales even if the translation is missing.

[2019-05-01 16:49] ersingencturk commented on #248
i think the proper fix would be handling this issue from the calling code but it's too much for me to dig into it

[2019-05-10 15:25] brad426 opened #250 "Question. Should the plugin fallback to in-app-browser rating if `inAppReview` is set to true"
When `inAppReview` is set to `true`, and the plugin has already displayed more than 3 in-app notifications,  it does not fallback to the "in-app-browser" rating routine.

https://github.com/pushandplay/cordova-plugin-apprate/blob/738ee2ade3b6c3074f0b31939d86a15f6e11b4b2/www/AppRate.js#L266-L270

Is that the desired behaviour? or should the code look more like:
[code]

[2019-05-29 19:06] rpanadero commented on #237
I'm facing the same problem. Is there a workaround?

[2019-06-16 12:53] guylando commented on #250
wouldn't it annoy the user to keep redirecting him to store to rate the app after it was already displayed to him for 3 times?

[2019-06-17 07:24] brad426 commented on #250
Well, if the user taps "no thanks", indicating that they **never** want to rate the app, then yes, sure, it should never ask them again.

But if they click "rate it now"
<img width="189" alt="Screenshot 2019-06-17 at 09 21 48" src="https://user-images.githubusercontent.com/686757/59585785-90a0a800-90e1-11e9-8d5d-1df284d6815f.png">
which brings up the native rating dialog (possibly for the 3rd and

[2019-06-17 15:15] guylando commented on #250
+1
I agree with you that the desired behavior is what you said [although this is a very extreme case of a user who clicked for 3 times "rate it now" only to then click "not now" (probably so extreme that it is unlikely to happen)]

[2019-06-17 16:54] brad426 commented on #250
True, it’s pretty unlikely.
What about the case of the user being offline? The prompt to rate would still come up right? If the user tried to rate by clicking “rate now” an attempt to rate would be tracked, but the native in app dialogue wouldn’t actually be displayed right? Anyways, I think these scenarios are all pretty unlikely. I think the issue can be closed.

[2019-06-17 16:54] #250 closed

[2019-06-17 16:57] guylando commented on #250
@brad426 in our app the prompt will only be triggered on positive event and the trigger comes from the server and only in time close to the event. so if user has no internet connection at the time of the event then he will not get the event..probably a good idea though is to configure a timer which auto-closes the popup if it is still open in case it was opened when app is in background with inter

[2019-06-19 11:49] guylando commented on #240
you need pass "false" to AppRate.promptForRating:
AppRate.promptForRating(false);

[2019-06-19 11:50] guylando commented on #223
you need pass "false" to AppRate.promptForRating:
AppRate.promptForRating(false);

[2019-06-19 13:17] guylando commented on #230
On android try use `https://play.app.goo.gl/?link=https://play.google.com/store/apps/details?id=<package_name>` link instead of `market://details?id=<package_name>`.
or in preferences `openUrl(url)` function check if platform is android then run `window.location.replace(url);` and otherwise use inappbrowser/safariviewcontroller

[2019-08-01 22:43] datawaslost commented on #237
Facing the same problem in recent capacitor builds - anyone have a solution? Perhaps use Cap storage instead of NativeStorage?

[2019-08-06 20:40] THEDOWNCOUNTRY commented on #237
Share problem here and their seem to be no solution about this problem.

[2019-08-07 19:19] tunguyen64 commented on #242
I got it working once but then now it's not working anymore.

[2019-08-08 13:43] #237 closed

[2019-09-02 12:59] bastenfeld commented on #242
Actually the in-app review message is limited to show **3 times a year,** so when you're developing this is triggered quickly. You can try it on another emulated device.
https://github.com/pushandplay/cordova-plugin-apprate/blob/master/www/AppRate.js#L268

[2019-09-03 14:25] bastenfeld commented on #219
My solution for this was to trigger `navigateToAppStore()` directly for iOS.
This triggers the in-app rating popup when you have `preferences.inAppReview` set to `true`.

In an Ionic project:
[code]

[2019-09-21 05:32] Gajendrasinh opened #254 "Do you like using App rate demo popup showing null"
![Screenshot_2018-10-13-22-22-34-765_com freakyionic3demo photoviewer](https://user-images.githubusercontent.com/10431380/65368482-2402ef80-dc74-11e9-82df-53dd36e539b7.png)
Do you like using App rate demo popup showing null

[2019-09-26 07:51] mathewkuttymathew commented on #98
any update on this feature?

[2019-10-01 14:22] skopatsikas opened #255 "iOS: No redirection to the star rating modal window"
Hello, our company is experiencing an issue on iOS while testing this plugin in Testflight.
When the modal window asking the user if they would like to leave a rating with the options "Yes", "No" and "Later" is being displayed, and the user taps "Yes", it doesn't redirect/open the second modal window with the possibility to leave a star rating. Instead, it only closes the modal window and nothing

[2019-10-11 01:05] #234 closed

[2019-10-12 14:17] leabdalla opened #256 "can't get it working on ionic 4 - NullInjectorError: No provider for AppRate!"
I've installed like docs says:

    ionic cordova plugin add cordova-plugin-apprate
    npm install --save @ionic-native/app-rate

Then I'm setting up in `app.component.ts` this way:

    import { AppRate } from '@ionic-native/app-rate/ngx';

    ...

    private appRate: AppRate,

    ...

    initializeApp() {

      this.platform.ready().then(() => {
        this.statusBar.styleDefault();

[2019-10-22 09:14] josevavia commented on #256
Same issue here. Any ideas?

[2019-10-24 11:26] vosecek commented on #256
Add AppRate to providers: [] in app.module.ts.

[2019-10-25 14:42] leabdalla commented on #256
Added to app.modules.ts solved that error, but it keep not working.

My current code is:

[code]

So when I click a button and call this method, I can see the `console.log('askToRate');` message but nothing happens after that.

Any idea?

[2019-10-25 16:06] josevavia commented on #256
If anyone is here because the initial error (No provider for AppRate) and already have AppRate in providers[] in app.module.ts (that was my case), make sure the import line have `/ngx`:

[code]
My IDE by default added the line without `/ngx` and it was the source of the problem.

After that everything worked without errors.

[2019-10-30 00:48] jagan27101986 opened #257 "Ionic 4 + App rate Plugin Not working"
E/Capacitor/Console: File: http://localhost/vendor.js - Line 51847 - Msg: ERROR Error: Uncaught (in promise): ReferenceError: NativeStorage is not defined
    ReferenceError: NativeStorage is not defined
        at capacitor-runtime.js:3491:7
        at new Promise (<anonymous>)
        at Object.get (capacitor-runtime.js:3490:12)
        at Function.AppRate.init (capacitor-runtime.js:2891:15)

[2019-11-13 21:31] kpfecteau opened #258 "Error after 3rd in app review"
`Main Thread Checker: UI API called on a background thread: -[UIViewController init]
PID: 65789, TID: 72486075, Thread name: (none), Queue name: com.apple.root.default-qos, QoS: 0
Backtrace:
4   SHFantasy                           0x000000010d63b607 __29-[CDVAppRate launchAppStore:]_block_invoke + 71
5   libdispatch.dylib                   0x00000001152cadd4 _dispatch_call_block_and_release + 12
6

[2019-11-19 13:17] davidreher opened #259 "New Version?"
Hey, any ETA on a new version?

We are currently using the git commit instead of the npm version, because 1b65ffdf6c22c7d7e0d029b75af894e974b394ea is not in there ...

[2019-11-19 14:57] westonganger commented on #259
v1.5.0 has just been released containing these changes.

[2019-11-19 14:57] #259 closed

[2019-11-28 13:42] degroundshaker commented on #255
Same :(

[2019-11-28 14:11] Steffen911 opened #260 "Object(r.cordova) is not a function"
When I call `appRate.promptForRating(true);` it throws the following exception:
[code]

I'm using ionic and Cordova with the following version:
    "cordova-plugin-apprate": "1.5.0",
    "@angular/*": "v5-lts",
    "cordova-android": "8.1.0",
    "cordova-ios": "5.0.1",

    % ionic -v
        5.4.9

This is my RateService:
[code]

[2019-11-28 21:13] Steffen911 commented on #260
Seems to be related to the `@ionic-native/app-rate` module. When I adjust the `/ngx/index.js` file the error is not thrown, but there is still no pop-up shown.

It seems that the generated file imports `cordova` from `@ionic-native/core` instead of `Cordova` which actually wraps the function passed as an argument.
E.g.
[code]

[2019-11-29 08:15] Steffen911 commented on #260
Looks like this was a version misalignment on my side. I used @ionic-native/core 4.20.0 with @ionic-native/app-rate 5.17.1.
Downgrading the later to 4.20.0 resolved the problem.

[2019-11-29 08:15] #260 closed

[2019-12-02 11:26] teslavitas opened #262 "Callback after navigateToAppStore on iOS"
When AppRate.navigateToAppStore is called with inAppReview set to true, user gets directly to the rating popup where he can choose "Not now", "Cancel" or "Submit".
Is it possible to determine which option was chosen?

[2019-12-06 13:10] nidhivc opened #263 "cordova.js:308 Uncaught TypeError: AppRate.preferences.openUrl is not a function"
cordova.js:308 Uncaught TypeError: AppRate.preferences.openUrl is not a function

 at Function.AppRate.navigateToAppStore (AppRate.js:257)
    at promptForStoreRatingWindowButtonClickHandler (AppRate.js:85)
    at Object.callbackFromNative (cordova.js:287)
    at <anonymous>:1:9

[2019-12-08 04:30] sensuy commented on #263
Same to me!

cordova.js:308 Uncaught TypeError: AppRate.preferences.openUrl is not a function
    at Function.AppRate.navigateToAppStore (AppRate.js:257)
    at promptForStoreRatingWindowButtonClickHandler (AppRate.js:85)
    at Object.callbackFromNative (cordova.js:287)
    at <anonymous>:1:9

[2019-12-10 01:39] sensuy commented on #263
Soved doing the downgrade to: "cordova-plugin-apprate": "^1.4.0", and "@ionic-native/app-rate": "^5.15.1"

[2019-12-10 01:42] sensuy commented on #263
[SOLVED] ->  doing the downgrade to
"@ionic-native/app-rate": "^5.15.1" and  "cordova-plugin-apprate": "^1.4.0"

[2019-12-10 05:27] nidhivc commented on #263
I am working on ionic3 ,by using your solution it gives me  Apprate referes to a value ,but it is being use as a type here.
also gives
 ionic-app-script task: "build"
[10:46:19]  Error: Failed to transpile program
Error: Failed to transpile program
    at new BuildError
when try to generate build

[2019-12-10 05:44] nidhivc commented on #263
I have install
 "@ionic-native/app-rate": "^4.20.0",
"cordova-plugin-apprate": "^1.4.0",
ionic - 3
versions

[2019-12-23 08:45] ryaa commented on #263
From the plugin docs:
[code]

The typing does not seem to have openURL prop added yet - see https://github.com/pushandplay/cordova-plugin-apprate/pull/261 (for @ionic-native/app-rate as well)

As a temporary fix I did the following
1) added new interface
[code]
2) used it as below
[code]

This works fine with the latest version of this plugin and in ionic 3 app

[2019-12-23 11:44] YissacharB opened #264 "Update Hebrew Locale"

[2019-12-23 17:17] westonganger commented on #263
@ryaa mind creating a PR for this?

[2019-12-23 17:18] westonganger commented on #264
Translation is a community effort. Feel free to create a PR with any recommended changes.

[2019-12-23 17:18] #264 closed

[2019-12-23 17:20] westonganger commented on #263
The typings file is now fixed in master via #261

[2020-01-02 16:20] Yuripetusko commented on #255
It is not an issue, native app rate is not working in testflight version

[2020-01-17 06:48] ryaa commented on #263
any plans to release it soon? thank you

[2020-02-03 10:48] GautierDele opened #265 "feature: android in app review"
Hello,

I'm just asking in Android in app review are in your roadmap ?
I'll have a look doing a PR this evening but not sure i'm enough qualified in cordova plugins.

Gautier

[2020-02-05 14:59] SebastianLms commented on #263
This temporally fix works for me, thanks for sharing.

[2020-02-05 22:50] aaronnunez95 commented on #263
I had the same issue (AppRate.preferences.openUrl is not a function) with ionic 4, then i could resolve these using the spread operator.

`this.appRate.preferences = {
      ...this.appRate.preferences,
      storeAppURL: {
        ios: "XXXXXX",
        android: "market://details?id=com.xxxx.xxxx"
      },
      simpleMode: true,
      useLanguage: "en",
      customLocale: {
        title: "rate

[2020-02-12 15:09] svzi opened #266 "iOS: Issue with disabled requests"
Hi there and thank you very much for providing and maintaining this great plugin @pushandplay & @westonganger!

I'm using version 1.5.0 of this plugin in one of my apps. A few days ago an iOS user reported to me, that he was asked to review the app, but that he had disabled requests for reviews (see here: https://developer.apple.com/documentation/storekit/skstorereviewcontroller/requesting_app_sto

[2020-02-12 16:56] svzi commented on #266
I've just checked the source by myself, sorry that I didn't do that before I created the issue. It looks like this plugin does indeed respect the iOS setting! Thanks again for your work.

[2020-02-12 16:56] #266 closed

[2020-02-12 21:10] CFT-Chris commented on #257
I encountered this issue, and fixed it by running the Capacitor CLI command:

`npx cap sync android`

This detected cordova-plugin-nativestorage as a missing dependency and installed it.  Upon inspection NativeStorage is now defined at the window level and AppRate no longer fails.

[2020-02-15 07:23] thomashrabe commented on #263
I do not understand what `this.appRate.preferences` should be. Is this above not a circular dependency?

[2020-02-18 18:51] westonganger commented on #265
@GautierDele I would love a PR for this. Android/Java development is fairly straight forward. Give it a shot and see how it goes.

[2020-02-18 18:51] #258 closed

[2020-02-18 18:52] #257 closed

[2020-02-18 18:52] #256 closed

[2020-02-18 18:52] #241 closed

[2020-02-18 18:53] #242 closed

[2020-02-18 18:53] #254 closed

[2020-02-18 18:53] #255 closed

[2020-02-20 10:23] GautierDele commented on #265
I'm quite short on time for now but i'll write it on my task list

[2020-03-09 15:57] medicopedia opened #267 "Uncaught TypeError: Cannot read property 'then' of undefined"
`D/SystemWebChromeClient(19365): file:///android_asset/www/plugins/cordova-plugin-apprate/www/AppRate.js: Line 223 : Uncaught TypeError: Cannot read property 'then' of undefined`

`I/chromium(19365): [INFO:CONSOLE(223)] "Uncaught TypeError: Cannot read property 'then' of undefined", source: file:///android_asset/www/plugins/cordova-plugin-apprate/www/AppRate.js (223)`

[2020-03-10 21:19] S-AT commented on #267
The same problem.

[2020-03-27 07:24] georgiosd commented on #267
Same here, any ideas?

[2020-03-27 08:33] georgiosd commented on #267
@medicopedia I fixed it by manually calling `AppRate.init()`

[2020-04-16 18:20] diogoandrei opened #268 "Error clicking in review"
Hi, I'm having an issue when the user click to rate in dialog. I'm testing with a `<packagename> `of an app that already is published in play store. But when I hit the rate button it does nothing and throws the exception below

Running version:
`"cordova-plugin-apprate": "^1.5.0",`

Exception:
`TypeError: Cannot read property 'open' of undefined
    at Object.openUrl (file:///android_asset/www/plu

[2020-04-19 09:07] mukeshsolanki commented on #268
any update on this?

[2020-04-20 10:19] matrixreal opened #269 "plugin work on cordova android 6.4.0 but not on latest 8.1.0"
Hello guys,
this plugin is working on cordova android 6.4.0 but not on latest 8.1.0
any update? fixes?
thanks

[2020-04-20 10:36] matrixreal commented on #269
on device ready i'm calling this
AppRate.preferences.storeAppURL.android = 'market://details?id=greedy.rabbit.bunny.run';
AppRate.preferences.usesUntilPrompt = 6;
AppRate.promptForRating(false);

[2020-05-04 01:52] SiempreProgramadorNovato commented on #269
This code is working with latest version of cordova.. next time please provide more details so community could help in a better way

AppRate.init();
AppRate.preferences = {
  displayAppName: 'My GreatApp',
  usesUntilPrompt: 3,
  promptAgainForEachNewVersion: false,
  inAppReview: true,
  simpleMode: true,
  storeAppURL: {
    ios: '<my_app_id>',
    android: 'market://details?id=com.facebook.kata

[2020-05-04 01:55] SiempreProgramadorNovato commented on #268
openurl parameter is failing, so you have to attach the callback function instead.. this code is working with latest version of cordova.

`AppRate.init();
AppRate.preferences = {
displayAppName: 'My GreatApp',
usesUntilPrompt: 3,
promptAgainForEachNewVersion: false,
inAppReview: true,
simpleMode: true,
storeAppURL: {
ios: '<my_app_id>',
android: 'market://details?id=com.facebook.katana',
windows:

[2020-05-04 04:58] #269 closed

[2020-05-11 17:57] martman85 commented on #224
Same issue here. Can't get the plugin to work with in a basic form:
`this.platform.ready().then(() => {
this.appRate.preferences.storeAppURL = {
      ios: '1505372051'
    };

    this.appRate.promptForRating(true);
});`

no errors, just no behaviour. What am I doing wrong?

[2020-05-16 21:36] matrixreal opened #270 "can anyone fix this plugin with AppRate.promptForRating(false)"
Hello,
this plugin is working when we call AppRate.promptForRating(); or AppRate.promptForRating(true);
but when we call AppRate.promptForRating(false); that not work and sometimes work (not stable)
android cordova 6.4.0 (not stable ... working sometimes)
android cordova 7.1.4 (not working at all)
android cordova 8.1.0 (not working at all)
my code is 👍
AppRate.preferences = {
displayAppName: 'app

[2020-05-27 14:57] Akeri commented on #267
Same problem.
Thanks to @georgiosd for the solution

[2020-05-28 05:27] georgiosd commented on #267
@Akeri happy to contribute to good Google results 😆

[2020-05-28 08:23] SSuarezBrooktec opened #271 "Android touch outside prompt"
I have a doubt. In Android: Notice Disappears when you touch anywhere other than within the review notice. Is there a way to fix this?

I'm using Ionic 5

[2020-05-28 08:37] SSuarezBrooktec commented on #271
It is related to this issue
https://github.com/pushandplay/cordova-plugin-apprate/issues/133

[2020-05-30 09:48] NorthFred commented on #270
As a work-around, I am tracking app launches in the `app.component.ts` and store the result to localStorage. If the app launches reaches a certain number (e.g. 6), then I call `AppRate.promptForRating(true);`

Not ideal, but while waiting for a fix, you can use this approach.

[2020-05-30 14:31] vijay-asterbiliing opened #272 "Issue while installing in ionic 5, cordova"
This is the error I am getting while trying to install cordova-plugin-apprate.

[code]

this is the error i am getting on debug.log of npm.
Tried using both of the below commands but same error with both :

OS : Windows 10
![Capture](https://user-images.githubusercontent.com/66171980/83330965-5d363980-a2b0-11ea-8bfa-63878f631b6a.JPG)

[2020-06-03 17:12] danielpspring commented on #270
Same issue

[2020-06-12 13:12] keshavkhatri opened #273 "inappbrowser required"
This plugin requires in app browser to work, but the inappbrowser plugin is not added as a dependency

[2020-06-14 08:40] rupamhazra opened #274 "IONIC 4 App rate plugin not working"
Hi,
I have used apprate but playstore app not opening to give rating
IONIC 4
Apprate : 1.5.0

Error in Success callbackId: Notification1169701122 : TypeError: AppRate.preferences.openUrl is not a function

TypeError: AppRate.preferences.openUrl is not a function
    at Function.AppRate.navigateToAppStore (AppRate.js:257)
    at promptForStoreRatingWindowButtonClickHandler (AppRate.js:85)
    at Ob

[2020-06-18 13:54] HaroldBeyer commented on #274
I have the same error, but working with Ionic 3

[2020-06-26 17:16] dharam1986 commented on #274
I am also getting the same error.
I tried with appRate.preferences = {
      displayAppName: '',
      storeAppURL: {
        ios: '<my_app_id>',
        android: 'market://details?id=<package_name>',
        windows: 'ms-windows-store://pdp/?ProductId=<the apps Store ID>',
        blackberry: 'appworld://content/[App Id]/'
      },
      openUrl: appRate.preferences.openUrl
    };

But no luck fo

[2020-06-26 17:17] dharam1986 commented on #270
I am also facing the same issue. Do we have any update?

[2020-06-26 17:31] rupamhazra commented on #274
I have solved by editing this plugin and follow below steps

1) Install inapp browser plugin
2) Find AppRate.js file in  your android plugins folder and edit AppRate.preferences object
       1)  comment out this or remove this code.
            // openUrl: function (url) {
              //     cordova.InAppBrowser.open(url, '_system', 'location=no');
              // }
       2)  Next find AppRat

[2020-06-26 17:53] dharam1986 commented on #274
Thanks @rupamhazra  for your quick response. I applied your changes but however still I am getting the same error.
I added the import { InAppBrowser } from '@ionic-native/in-app-browser/ngx';  in my module nad app.component file but same result.
Is anything else I am missing here?

[2020-06-26 18:19] rupamhazra commented on #274
Please find your plugin path like my path : C:\IONIC\RedyRider-Mat\plugins\cordova-plugin-apprate\www
here you can see the AppRate,js file and follow the above steps which i told.

[2020-06-26 18:25] dharam1986 commented on #274
Yes I did it but I am unable to make build of this file.  I edited the plugin but after run command  ionic cordova run android --device, I havent found my changes in AppRate.js
So I am looking for a way for compile this edited file.

[2020-06-26 18:43] HaroldBeyer commented on #274
I have solved it by downgrading the version from 1.5.0 to 1.4.0

[2020-07-17 15:39] ShTaras commented on #263
this.appRate.preferences.openUrl = () => {
            window.open(this.appRate.preferences.storeAppURL.android);
        };

[2020-08-08 14:17] umsuka commented on #263
Thanks this worked for me for Ionic 5

[2020-08-13 23:51] terreng opened #276 "Add support for in-app reviews on Android"
Add support for the new Google Play In-App Review API to enable in-app review prompts for Android devices. This would enable the `inAppReview` option to work on Android devices.

https://developer.android.com/guide/playcore/in-app-review
https://android-developers.googleblog.com/2020/08/in-app-review-api.html

[2020-08-13 23:54] westonganger commented on #276
@terreng would appreciate a PR for this if you want to tackle it

[2020-08-26 14:57] Syalcindag opened #277 "TypeError: Cannot read property 'open' of undefined"
First Erro :  TypeError: AppRate.preferences.openUrl is not a function

Fixed with this solution -> https://github.com/pushandplay/cordova-plugin-apprate/issues/263#issuecomment-582651101

then ,

E/Capacitor/Console: File: capacitor-runtime.js - Line 362 - Msg: TypeError: Cannot read property 'open' of undefined
E/Capacitor: JavaScript Error: {"type":"js.error","error":{"message":"Uncaught TypeEr

[2020-08-26 14:59] Syalcindag commented on #263
this worked but now this error

E/Capacitor/Console: File: capacitor-runtime.js - Line 362 - Msg: TypeError: Cannot read property 'open' of undefined
E/Capacitor: JavaScript Error: {"type":"js.error","error":{"message":"Uncaught TypeError: Cannot read property 'open' of undefined","url":"capacitor-runtime.js","line":1358,"col":21,"errorObject":"{}"}}
E/Capacitor/Console: File: capacitor-runtime.js

[2020-08-30 19:41] oorabi opened #278 "annot read property 'then' of undefined. AppRate.js:223"
Today, App could not be open on all devices.
After debugging found this error.
TypeError: Cannot read property 'then' of undefined
    at Function.AppRate.promptForRating (/android_asset/www/plugins/cordova-plugin-apprate/www/AppRate.js:223)

[2020-09-02 17:11] rodrigograca31 commented on #276
I'd love to see this implemented since I use this plugin.

I'm no Java/Kotlin developer but there's some Kotlin code here that might help:
https://proandroiddev.com/google-play-in-app-review-api-integration-and-experience-a96b30805345

[2020-09-03 22:25] regevbr commented on #278
It happend to me as well. This is caused by a race condition of the deviceready event handlers. I hack/solved it by delaying the app rate interaction by 500 ms from the deviceready ever, giving a chance for the init method to finish

[2020-09-03 22:26] regevbr commented on #277
It happend to me as well. This is caused by a race condition of the deviceready event handlers. I hack/solved it by delaying the app rate interaction by 500 ms from the deviceready ever, giving a chance for the init method to finish

[2020-09-04 11:55] regevbr opened #279 "IOS native review bad UX experience"
According to https://developer.apple.com/documentation/storekit/skstorereviewcontroller/2851536-requestreview when launching IOS native in-app review, can have a non-deterministic behavior and can be shown or ignored without any notice. They specifically state:

This results in users clicking the rate now button with nothing happening afterward which is a bad UX.
I saw that previously you had a co

[2020-09-04 12:24] regevbr commented on #267
It happend to me as well. This is caused by a race condition of the deviceready event handlers. I hack/solved it by delaying the app rate interaction by 500 ms from the deviceready ever, giving a chance for the init method to finish

[2020-09-04 15:37] westonganger commented on #279
Thanks for digging into this. Yes I appreciate any way to improve things. Thanks for PR #280 we will continue the discussion over there.

[2020-09-04 17:11] #267 closed

[2020-09-04 17:11] #278 closed

[2020-09-04 17:11] #279 closed

[2020-09-04 21:10] #272 closed

[2020-09-04 21:10] #273 closed

[2020-09-08 15:48] #276 closed

[2020-09-08 16:03] #208 closed

[2020-09-08 16:07] #213 closed

[2020-09-08 16:07] #214 closed

[2020-09-08 16:07] #215 closed

[2020-09-08 16:07] #216 closed

[2020-09-08 16:08] #217 closed

[2020-09-08 16:10] westonganger commented on #265
Added to master via #281

[2020-09-08 16:10] #265 closed

[2020-09-19 09:48] #277 closed

[2020-09-29 05:14] ksabariraj opened #282 "In App review: after giving review not able to open the in app review again"
Good Day,

Thanks for the In app review 👍

After giving review not able to open the in app review again.

`AppRate.preferences = {
      useLanguage: 'en',
      displayAppName: 'In App Review',
      usesUntilPrompt: 1,
      inAppReview: true,
      promptAgainForEachNewVersion: true,
      reviewType: {
        ios: 'InAppReview',
        android: 'InAppReview'
      },
      storeAppURL: {

[2020-10-12 09:55] wiwimaster commented on #263
That's super quick and did solve the issue for me!

[2020-10-13 16:44] EinfachHans opened #283 "Next Release?"
Hey there,

when are you going to release a new Version? 😊

[2020-10-13 17:10] cerealexx opened #284 "Android set to inAppReview triggers callback but doesn't show anything"
When setting preferences to:

[code]

`onRateDialogShow` callback is triggered but nothing is shown on screen. Not even `openUrl` is triggered so it shouldn't be a matter of not being able to use `InAppReview` since documentation says that it would default to `InAppBrowser` in that case...

I'm using the git version because it seems the cordova plugins registry one doesn't have the Android in app

[2020-10-13 19:52] westonganger commented on #283
v1.6.0 is now released.

[2020-10-13 19:52] #283 closed

[2020-10-13 19:53] EinfachHans commented on #283
awesome thanks!!

[2020-10-13 20:26] OnMusicApps opened #285 "Not building after last update"
Hello,

I was being able to  use correctly the plugin until one hour ago, but now Phonegap Build is throwing an error. I believe it's related to the last update.
 The error I'm getting is:

                                           ^

Any idea if there is anything I can to to fix it?

Thanks.

[2020-10-14 07:03] EinfachHans commented on #284
Have you tested this like it's [explained here](https://github.com/pushandplay/cordova-plugin-apprate#reviewtypeandroid-enum)?

[2020-10-14 07:04] EinfachHans commented on #285
What do you have set as ** minSdkVersion** and **targetSdkVersion**?

[2020-10-14 08:13] cerealexx commented on #284
Sorry, I thought the app being published was enough.

[2020-10-14 08:13] #284 closed

[2020-10-15 13:13] Joe-song-77 opened #287 "Incorrect logic in AppRate.showDialog method when customize the reviewType"
With 1.60 version, the rating dialog will not be shown if there are the customized reviewType.
E,g,
AppRate.preferences = {
                  displayAppName: 'Fiori Client',
                  simpleMode: true,
                  reviewType: {
                    ios: 'InAppBrowser',
                    android: 'InAppBrowser'
                  },
}

To check the code logic in method showDialog of A

[2020-10-15 19:46] westonganger commented on #287
v1.6.1 is now released which fixes this

[2020-10-16 06:31] Joe-song-77 opened #288 "Locale issue"
See method Locales.addLocale in locales.js, the key was language. But, the window.navigator.language will give 'zh-tw' if I choose device language as 'Chinese, Traditional(Taiwan)' and region as China mainland. It will let the locale 'zh-TW' can't be found. So, not sure if the lowercase language should be used as the key. E,g, locales[localeObject.language.toLowerCase()] = localeObject;

Also, I j

[2020-10-16 16:08] westonganger commented on #288
Feel free to create PR's for the additional locales and for the lowercase fix.

[2020-10-18 23:10] #287 closed

[2020-10-26 23:37] westonganger commented on #270
Solved via #289

[2020-10-27 19:54] edumoritz opened #290 "AppRate not override preferences"
I set the preferences of the approute but returns the original modal

**Import:**
`
import { AppRate } from '@ionic-native/app-rate/ngx';
`
**Set Preferences:**
`this.appRate.preferences = {
      ...this.appRate.preferences,
      useLanguage: 'pt',
      simpleMode: true,
      displayAppName: 'Meu App',
      inAppReview: true,
      usesUntilPrompt: 4,
      promptAgainForEachNewVersion: true,

[2020-10-28 10:45] DorianLovera commented on #290
I had the same issue...
Before doing : `this.appRate.promptForRating(true);`, you can initialize your preferences :  `this.appRate.preferences = this.preferences;`

Full code 👇
[code]

[2020-10-30 19:28] wal0x commented on #277
I had the same issue, and I solved it by instaling [In App Browser ](https://ionicframework.com/docs/native/in-app-browser)

[2020-10-30 21:30] sevkonline opened #291 "Doesn't work with Ionic 4."
Hello, I can't run the plugin with ionic 4. Can you please help?

[2020-11-12 16:03] josecarvalhoSigned opened #292 "Ionic 5 using native api capacitor - Override preferences is not working"
I'm using this code and when i try to override the default preferences don't work.
https://ionicframework.com/docs/native/app-rate

Any help??

[2020-11-12 20:51] jderose9 commented on #292
I had this issue too and was able to resolve it by using the AppRate property on the window. I don't know if there is a more "correct" way to do this.

[code]

Assigning the preferences property on the injected appRate instance doesn't work like I've seen suggested in other posts as accessing that preferences property writes a message to the console that the plugin isn't loaded.

[2020-11-14 12:32] sevkonline commented on #291
TypeError: Cannot read property 'setPreferences' of undefined

[2020-11-16 11:19] josecarvalhoSigned commented on #292
@jderose9 at this moment, using the AppRate property on the window, i was able to return the callback functions. But i still cannot override the custom messages, the title, the button names etc

[2020-11-16 11:43] DorianLovera commented on #290
I ended up downgrading the plugin to v1.6.1 in package.json.

With the latest version it looks like there is a new method for this purpose : `setPreference()` which isn't supported by the ionic wrapper....

[2020-11-18 15:07] NLueg commented on #292
I have the same problem. I can override everything but the `customLocale`.

[2020-11-18 17:24] NLueg commented on #292
This is fixed with 1.7.1

[2020-11-18 17:25] NLueg commented on #290
This is fixed with 1.7.1

[2020-11-18 17:29] #290 closed

[2020-11-18 17:29] #292 closed

[2020-11-18 19:35] josecarvalhoSigned commented on #292
I made the update to the version you mentioned but now in cant get any action.

Using this code as @jderose9 mentioned:
window['AppRate'].setPreferences({
   // property: 'value',
});

or using the code in ionic documentation: https://ionicframework.com/docs/native/app-rate

[2020-11-19 04:56] NLueg commented on #292
Maybe try it the same as I do:

[code]

This works perfectly for me.

[2020-11-19 16:20] josecarvalhoSigned commented on #292
Using like you said is returning this error:
![image](https://user-images.githubusercontent.com/44067633/99693129-f0437580-2a82-11eb-8465-e317c21fb235.png)

My project was created using Ionic Native + Capacitor + Angular

[2020-11-19 17:05] NLueg commented on #292
Hm, that's very strange ... sorry about that. It works perfectly fine for me with the code I send you.

[2020-11-19 21:40] pedrumgolriz opened #295 "On Rate, browser opens localhost/null"
I'm not sure where I'm going wrong, I've used this plugin before without issue. Now with ionic 5 anytime a user clicks on the rate now button on the dialog, on android, the user ends up on a blank website with localhost/null in the address bar. On iOS the popped up dialog just spins then says could not connect.

Config:
"@ionic/angular": "^5.0.0",
"@ionic-native/app-rate": "^5.29.0",
"cordova-plug

[2020-11-20 18:36] simonramosb commented on #295
Hello! Having the same exact issue. Tried everything, lets hope somebody cand help us!

Config:
Ionic CLI: 6.11.0
cordova-plugin-apprate: 1.7.1

`    let preferences = ({
      useLanguage: 'es',
      reviewType:{
        ios: 'AppStoreReview',
        android: 'InAppBrowser'
      },
      storeAppURL: {
        ios: '123123123',
        android: 'market://details?id=123123123',
      },
      s

[2020-11-20 18:39] simonramosb commented on #295
Hello! Having the same exact issue, same code as you. Tried everything, lets hope somebody cand help us!

Config:
Ionic CLI: 6.11.0
cordova-plugin-apprate: 1.7.1

[2020-11-20 22:05] akash-sr12 commented on #295
Same issue 😕

[2020-11-22 13:54] wnabil commented on #295
i confirm the plugin works fine and its `@ionic-native/app-rate` issue
use the AppRate object from window and it should work as expected
[code]
possible reference https://github.com/pushandplay/cordova-plugin-apprate/issues/291

[2020-11-22 20:10] pedrumgolriz commented on #295
Awesome! Confirmed working for android, will test on iOS when I can. I'm going to leave this issue open as it should be fixed by the dev

[2020-11-22 20:34] petrot commented on #292
Please re-open this issue, it's still alive!

I've got the same issue... With Ionic, there is a native plugin what we have to use: `import { AppRate } from '@ionic-native/app-rate/ngx';`

With this plugin the preference update seems like this:

[code]

For me, this code now fails... The rate dialog appears, but with the default text.

[2020-11-22 22:52] wnabil commented on #295
@pedrumgolriz
Glad it works.
its not going to be fixed here there is nothing to do with the current repo, better to report it in ionic native repo
https://github.com/ionic-team/ionic-native

[2020-11-24 06:34] Crypt0Graphic opened #296 "1.7.1 does not work with Ionic"
I had trouble all day with this version.

First when i click to rate, opens a popup and says "cannot connect itunes store".

I tried different settings but settings changed NOTHING. For example i tried simpleMode = true but it worked as default or i changed customLocale, nothing changed.

When i downgraded to -one year- 1.5.0 version everything worked fine.

[2020-11-24 11:56] simonramosb commented on #295
Thanks a lot! Worked for me too!

[2020-11-27 23:21] jderose9 commented on #292
setPreferences still doesn't seem to be exposed anywhere in the types?

[2020-11-28 10:59] petrot commented on #292
I created an issue in the ionic-native repo:

https://github.com/ionic-team/ionic-native/issues/3576

[2020-11-29 08:33] NLueg commented on #292
I actually would recommend you to use the typings of this very plugin like this

[code]

This will be maintained by the same people that maintain the native code so this will always be correct. I don't see any advantage of using the ionic-native package here

[2020-11-30 01:37] WuglyakBolgoink opened #297 "Why we return success in catch block?"
https://github.com/pushandplay/cordova-plugin-apprate/blob/5e0e250ec368fa36a86fa2238819e764c535f527/src/android/AppRate.java#L70

[2020-11-30 18:43] #295 closed

[2020-12-07 15:51] copaste commented on #296
I even can't run it. Ionic can't find it and I can see the warning in the console log:
`Install the App rate plugin: 'ionic cordova plugin add cordova-plugin-apprate'`

[2020-12-07 21:19] jacobg opened #298 "AppRate.js uses `let` identifier which is not supported on factory Android 5.1 (SDK 22)"
https://github.com/pushandplay/cordova-plugin-apprate/blob/5e0e250ec368fa36a86fa2238819e764c535f527/www/AppRate.js#L226

Throws this error:
[code]

Android 5.1 (SDK 22) factory install runs Chrome 39.

The fix would be to just use a `var` instead.

[2020-12-13 22:25] stfnwbr commented on #296
After hours struggling with the same problem I found this issue.
Downgrade to 1.5.0 did the trick for me also. Working as expected with 1.5.0 now.

[2020-12-28 14:14] Mobiletainment commented on #296
I had the same issue, but Instead of reverting back to 1.5.0, I was able to simply **use version 1.6.1** for now which has the new `reviewType` **InAppReview** available.

[2021-01-07 12:38] leabdalla commented on #295
Same problem here even using quoted solution code.

My package.json file has:

    "@angular/common": "^7.2.2",
    "@angular/core": "^7.2.2",
    "@angular/platform-browser": "^7.2.2",
    "@ionic-native/app-rate": "^5.29.0",
    "@ionic-native/core": "^5.0.0",
    "@ionic-native/in-app-browser": "^5.11.0",
    "@ionic/angular": "^4.8.0",
    "cordova-android": "^8.1.0",
    "cordova-browser": "6

[2021-01-20 12:49] benjamincreativedk commented on #288
Have same issue when using customLocal these lines are ignored:
`yesButtonLabel: "Ja!",
noButtonLabel: "Ikke rigtigt",
appRatePromptTitle: 'Kan du lide %@?', `
I know they don't exists in the locales.js for "da",  like Joe-song-77 mentions about Chinese. But it looks like it can't be overruled by  customLocal: {} ...

[2021-01-22 10:33] AndrejDaubert opened #299 "iPad recognition not working"
The recognition for iPad over navigator.userAgent is not working in the current version. It return false and prevent the navigation to storepage.

File: AppRate.js
Line:  var IS_IOS = /(iPhone|iPod|iPad)/i.test(navigator.userAgent.toLowerCase());

Also see:
https://stackoverflow.com/questions/57776001/how-to-detect-ipad-pro-as-ipad-using-javascript

[2021-01-22 21:32] osben commented on #299
i added a fix
https://github.com/pushandplay/cordova-plugin-apprate/pull/300

[2021-02-10 17:18] westonganger commented on #298
This is now fixed in master

[2021-02-10 17:18] #298 closed

[2021-02-10 17:27] westonganger commented on #299
v1.7.2 is now released which includes this fix.

[2021-02-10 17:27] #299 closed

[2021-02-10 17:27] westonganger commented on #298
v1.7.2 is now released which includes this fix.

[2021-02-13 03:16] velvok commented on #296
For those who is receiving "cannot connect itunes store" error and using Ionic:

After debugging in xCode I realized that appID wasn't picked up from `preferences` and appeared as `Null` in xCode.
This eventually is not a plugin problem but rather misleading outdated Ionic documentation.
If you followed Ionic documentation for this plugin (as I initially did) and used direct object's `preferences`

[2021-02-15 17:55] ryaa opened #303 "AppStoreReview opens with a very long delay and there is an error in console (iOS)"
When, on iOS, I click on "Rate now" nothing happens for several seconds and then the app opens the AppStore to add a review (I have reviewType.ios set to AppStoreReview in the preferences). XCode console shows the below error

[code]

There is a similar bug which seems have never been fixed - see https://github.com/pushandplay/cordova-plugin-apprate/issues/217

[2021-02-28 13:38] fractalysid commented on #270
any update on this? It is not solved. Same configuration, it never shows the dialog. I'm falling back on writing my own service

[2021-03-02 12:30] MrProscrite commented on #295
I tried this way and response:
ERROR TypeError: Cannot read property 'getPreferences' of undefined
    at AppComponent.rateMe (app.component.ts:47)
    at AppComponent_Template_ion_item_click_15_listener (template.html:31)
    at executeListenerWithErrorHandling (core.js:14316)
    at wrapListenerIn_markDirtyAndPreventDefault (core.js:14351)
    at HTMLElement.<anonymous> (platform-browser.js:582)

[2021-03-02 12:31] MrProscrite opened #304 "ERROR TypeError: Cannot read property 'getPreferences' of undefined"
i confirm the plugin works fine and its `@ionic-native/app-rate` issue
use the AppRate object from window and it should work as expected
[code]
possible reference https://github.com/pushandplay/cordova-plugin-apprate/issues/291

_Originally posted by @wnabil in https://github.com/pushandplay/cordova-plugin-apprate/issues/295#issuecomment-731752062_

I tried this way and response:
ERROR TypeError:

[2021-03-03 11:43] MrProscrite commented on #304
I got it the solve:

Was just build the app.

[2021-03-03 11:43] #304 closed

[2021-03-10 04:22] krinonnn commented on #303
Hey @ryaa

I encountered the same issue but found this comment: https://github.com/pushandplay/cordova-plugin-apprate/issues/296#issuecomment-778553693

Now working for me. Hope it helps

[2021-03-20 15:40] gormlabenz commented on #303
same

[2021-03-24 15:37] richardshergold opened #305 "Remind Me Later option"
I have just installed this plugin in my Ionic 5 (Angular) project and started to have a play.

Firstly when I uninstall the app and re-install it should it not reset it's counter (which controls whether or not the user received a prompt?).  I just re-installed the app and when I called the prompt, I saw this in the console:

`NativeStorage setItem NativeStorage1311180458 ["options": [counter, {"ap

[2021-03-25 07:18] richardshergold commented on #305
Was doing it wrong!  Ignore

[2021-03-25 07:18] #305 closed

[2021-03-25 20:35] nielsjakob commented on #303
same

[2021-03-26 14:14] nielsjakob opened #306 "[Android] Asking users whether they like the app before prompting"
In the Android Docs it says you mustn't ask users whether they like the app before using the Google Play In-App Review API:

https://developer.android.com/guide/playcore/in-app-review#when-to-request

Does anybody know if this applies only to `reviewType: {android: 'InAppReview'}` or also to `reviewType: {android: 'AppStoreReview'}`?

I guess the latter is basically just a link to the Play Store s

[2021-04-29 20:56] bzimbelman opened #307 "Opening file:///android_asset/www/null"
I have the following react/cordova app:
[code]
When the Rate Me button is clicked, the expected behavior occurs, i.e. the following options are displayed:
<img width="282" alt="Screen Shot 2021-04-29 at 4 31 42 PM" src="https://user-images.githubusercontent.com/42189316/116616125-4659f600-a90a-11eb-9f88-8b09305f903a.png">
However, when I select the 'Rate It Now...' button I get:
<img width="282" a

[2021-06-01 11:15] Jay031 opened #308 "NegativeFeedback iOS MailTo doesnt work"
Hi all,

Regardless of plugin version (1.5.x to 1.7.x) the mailto for feedback doesnt do anything on iOS
on Android my mail-apps are popping up, but on iOS nothing happens.

[code]

I've whitelisted everything properly (as far as I know):
<allow-intent href="mailto:*" />

And iOS specific:
<allow-navigation href="mailto:*" launch-external="yes" />

Is there anything I'm missing?? Thanks in advance

[2021-06-01 11:19] Jay031 commented on #291
You have to update the @ionic-native/app-rate to let the Typings know that the setPreferences function exists.
Try this in your package.json and run npm install

"@ionic-native/app-rate": "^5.33.0"

[2021-06-12 22:01] fjix1022 opened #309 "Is it possible to get rid of Would you mind rating xxx App? Dialog"
Hi,
Is it possible to not display Would you mind rating dialog and start from the Enjoying dialog? Thank you advance for your input.
![image](https://user-images.githubusercontent.com/7362791/121789897-7d752580-cb9f-11eb-94fc-ae6369899021.png)

![image](https://user-images.githubusercontent.com/7362791/121789842-17889e00-cb9f-11eb-9b40-23a2b6381c84.png)

Following is my preference snippet.
prefere

[2021-06-15 21:03] #309 closed

[2021-06-15 21:05] fjix1022 commented on #309
Missing showPromptForInAppReview: false. After added it in the preference, the first dialog was no longer displayed.

[2021-06-24 14:33] BradCB commented on #308
I haven't found a solution to just using window.open or even just the html version (<a href = "mailto: abc@example.com">Send Email</a>) for iOS.

However, using cordova.InAppBrowser works for me, for iOS.
cordova.InAppBrowser.open("mailto:feedback@example.com", '_system');

[2021-07-02 17:46] thomashrabe opened #311 "App fails to open app store"
I guess I am missing something in my implementation, I see the promt questions but then when I click yes it fails in the simulator. Is it expected to fail in the simulator?
[code]

[code]

[code]

[2021-07-05 14:21] KrzysztofMoskalik opened #312 "Detect if app is already rated"
Hi,

I'm using this plugin with SimpleMode.
Is there any way to detect if user actually leaves AppStore or Google Play with app rated?
Using callback for rateButton (index 3 in onButtonClicked) is only telling me that user opened AppStore or Google Play, not that he rate the app.

[2021-08-04 05:04] pushkarstorehippo commented on #224
Will this package work if app is not published on Playstore/Appstore ?

[2021-08-04 05:05] pushkarstorehippo opened #314 "Package Not Working"
Will this package work if an app is not published on Playstore/Appstore ?

[2021-08-05 12:02] VaneGaraje opened #315 "Error in reviewType"
Hello, i have problem in the field reviewType, when assign a value to ios or android i see this error:

Type '"InAppReview"' is not assignable to type 'AppRateReviewTypeIos'.ts(2322)
index.d.ts(64, 9): The expected type comes from property 'ios' which is declared here on type '{ ios?: AppRateReviewTypeIos; android?: AppRateReviewTypeAndroid; }'

Can you help me?

[2021-09-26 13:58] laf1greg commented on #311
Same problem, (I only try with intern Test in play store though).  Did you find a fix  ?

[2021-09-26 23:04] thomashrabe commented on #311
No,  I wrote my own plugin, currently working on getting Android up. iOS works well. Very bare bone implementation.
https://github.com/thomashrabe/AppRate

[2021-10-15 15:18] Epameinondas-Theodoropoulos opened #316 "Preferences always null"
The problem is tha preference is always null. U jut copied the code and it say that is null. The same if i the custom preferences. So is not working at all.
`    this.appRate.preferences.storeAppURL = {
       android: 'market://details?id=****',
     }
     this.appRate.promptForRating(true);`

[2021-11-01 09:43] adamk22 commented on #282
Experiencing the same issue here, the plugin fails to do anything when a review is already given. Similar code and logs.

[2021-11-26 12:18] selcuk-sahin opened #317 "callback(1)- immediate click on rate now does not work"
In given callback function I expect appRate should open Rate Now after displaying. Nothing happens.
However, I can see that onButtonClicked callback is triggered and logged to console.
Device: iOS 11 - ^11.4

[code]

[2021-11-30 23:06] huddlestonka commented on #316
@Epameinondas-Theodoropoulos

use the setter instead -

`this.appRate.setPreferences({
      usesUntilPrompt: 3,
      storeAppURL: {
       ios: '<app_id>',
       android: 'market://details?id=<store_id>',
       windows: 'ms-windows-store://review/?ProductId=<store_id>'
      }
    });`

[2021-12-01 04:45] Epameinondas-Theodoropoulos commented on #316
I have already try it and I have the same result

[2022-02-07 18:38] rhafiko commented on #317
try  callback(3) instead.

[2022-03-11 19:28] mayankkataria commented on #263
For android, adding below line to preferences worked for me -
```openUrl: (url) => window.open(url, '_blank', 'location=yes')```

[2022-03-11 19:33] mayankkataria commented on #274
For android, adding below line to preferences worked for me -
```openUrl: (url) => window.open(url, '_blank', 'location=yes')```

[2022-03-11 20:40] mayankkataria opened #319 "Change buttons position"
I think, providing noButtonLabel on right hand side and yesButtonLabel on left hand side is not a nice way to get positive feedback. Therefore it'd be better if Yes and No label positions are changed are swapped in a plugin or developer is provided an option to change buttons position based on index. This issue is described over here as well - [https://forum.ionicframework.com/t/changing-apprate-p

[2022-04-12 16:45] guircoelho commented on #319
Hello!

Any update on that? I really need to change button position.

I can't find the code mentioned in the issue above. Maybe it's a different version.

Thanks!

[2022-06-06 14:59] Dimpy27 opened #320 "iOS- InAppReview popup for rating is taking device language."
We are setting below preference still getting Rating Popup with stars in Spanish.

simpleMode:true,
storeAppURL: {
ios: appDetails.appstoreURL,
android: appDetails.playStoreURL},
showPromptForInAppReview:false,
reviewType:{
ios:AppRateReviewTypeIos.InAppReview,
android:AppRateReviewTypeAndroid.InAppBrowser},
customLocale:{message: 'Message'}

Even if we use useLanguage: 'es' in preference it will

[2022-06-07 11:59] Dimpy27 opened #321 "Android Rating alert is showing some asci value"
Android Rating alert is showing some ASCI value when used Spanish language.
Translating locale 'es' value 'Reseña' To ReseÃ±a on Prompt.

[2022-07-14 12:58] VishnuV02 opened #322 "usesUntilPrompt not showing each 3rd time in AppRate Plugin"
In my ionic application, i gave usesUntilPrompt as 2, so it needs to be shown each and every 3rd attempt. Android it is working fine. But in iOS, alert is showing only once, after that nothing happening. Please help on this. Below is the code for reference,

ratingCompnd() {
    this.appRate.preferences = {
      // openStoreInApp: false,
      displayAppName: this.translate.instant('RATING.01'),

[2022-09-05 10:50] krishnadaspalode commented on #282
Hi @ksabariraj ,

Any way to work on the callbacks like 'onButtonClicked' or 'onRateDialogShow'. It's not triggering after the in app review launches. Also any solutions to get this app review opened up again and again in same device? As of now, it is coming only once per a store user.

Regards,
Krishna

[2022-09-09 13:09] krishnadaspalode commented on #317
Hi @rhafiko , @selcuk-sahin , @pushandplay

The callbacks 'onRateDialogShow' and related callback(1) invokes 'onButtonClicked' on invoking AppRate.promptForRating(), however, they are not triggered based on the user selections in native prompt. Do we have any option to get the user button selections/actions

TIA
Krishna

[2022-09-09 13:41] selcuk-sahin commented on #317
A workaround:
I ended up creating my own soft prompt & trigger the app rate immediately.
I'm using [ionic-native wrapper](https://ionicframework.com/docs/native/app-rate) here.
Also using [Swal2](https://sweetalert2.github.io/) for the soft alerts, but you can do it any way you like.

for example:
[code]

[2022-09-09 14:04] selcuk-sahin commented on #317
I don't believe we can, due to privacy reasons & device limitations.
Users share their opinion & rating with their app store & not with us, directly.

[2022-09-09 14:09] krishnadaspalode commented on #317
Even I too reached the same understandings. Still was checking one more round. Thanks for your time :)